/*    KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
  ╰─────────────╯ ╰─────────────╯ */

#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

////////////////////////////////////////////////////////////////
// make homerow combos tap-only (so HRMs can be chorded instantaneously)

// < > PREV
// &hml LGUI A   &hml LALT R   &hml LSHFT S  &hml LCTRL T
// &hmr LCTRL N  &hmr RSHFT E  &hmr LALT I   &hmr LGUI O
// </> PREV

#define HRC_PAR   &hmr_lpar_rpar RS(LCTRL) 0
#define HRC_BKT   &hmr_lbkt_rbkt LC(LALT) 0
#define HRC_BRC   &hmr_lbrc_rbrc RS(LALT) 0

////////////////////////////////////////////////////////////////
/* Horizontal combos - left hand */

// ZMK_COMBO(lt110, XXX, LT3 LT2, DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(lt011, XXX, LT2 LT1, DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(lt101, XXX, LT3 LT1, DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// ZMK_COMBO(lm110, XXX, LM3 LM2, DEF     NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(lm011, XXX, LM2 LM1, DEF     NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(lm101, XXX, LM3 LM1, DEF     NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// ZMK_COMBO(lb110, XXX, LB3 LB1, DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(lb011, XXX, LB3 LB2, DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(lb101, XXX, LB2 LB1, DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

////////////////////////////////////////////////////////////////
/* Horizontal combos - right hand */

// ZMK_COMBO(rt110, XXX, RT1 RT2, DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(rt011, XXX, RT2 RT3, DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(rt101, XXX, RT1 RT3, DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(rm110,  HRC_PAR, RM1 RM2, DEF     NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rm011,  HRC_BKT, RM2 RM3, DEF     NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rm101,  HRC_BRC, RM1 RM3, DEF     NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// ZMK_COMBO(rb110, XXX, RB1 RB2, DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(rb011, XXX, RB2 RB3, DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(rb101, XXX, RB1 RB3, DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
