//
////
////////
////////////////
////////////////////////////////
////////////////////////////////////////////////////////////////

/* activate bluetooth */
#define CONFIG_WIRELESS 1

#include <behaviors.dtsi>
#include <behaviors/num_word.dtsi> // requires auto-layer module

#include <dt-bindings/zmk/keys.h>
#if CONFIG_WIRELESS
    #include <dt-bindings/zmk/bt.h>
    #define _BT_SEL_KEYS_ &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR
#else
    #define _BT_SEL_KEYS_ &trans &trans &trans &trans &trans
#endif
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#include "zmk-helpers/helper.h"
#include "zmk-helpers/unicode-chars/greek.dtsi"
#include "zmk-helpers/unicode-chars/german.dtsi"
#include "zmk-helpers/key-labels/glove80.h"

////////////////////////////////

#define ___LAYERS

#define DEF         0
#define NAV         1
#define FN          2
#define NUM         3
#define SYS         4
#define MOUSE       5
#define FACTORY     6
#define MAGIC       7
#define SYM         8
#define TEMPLATE    9

////////////////////////////////

#include "mouse.dtsi"

////////////////////////////////////////////////////////////////
/* Global settings */

#define ___GLOBALS

#define QUICK_TAP_MS 175

&sk {  // sticky-key config
    release-after-ms = <900>;  // release after 0.6s
    quick-release;             // no double capitalization when rolling keys
};

&sl {  // sticky-layer config
    ignore-modifiers;          // allow chording sticky mods & layers
};

&lt {  // layer-tap config
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <QUICK_TAP_MS>;
};

#define XXX &none
#define ___ &trans

#define MACRO_COPY    LC(C)
#define MACRO_CUT     LC(X)
#define MACRO_PASTE   LC(V)

#define MACRO_UNDO    LC(Z)
#define MACRO_REDO    LC(Y)

////////////////////////////////
// https://github.com/moergo-sc/glove80-zmk-config/blob/main/config/glove80.keymap

#define ___GLOVE80

#define RGB_STATUS_CMD 15
#define RGB_STATUS RGB_STATUS_CMD 0

/ {
    behaviors {
        magic: magic_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MAGIC_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&rgb_ug_status_macro>;
        };
    };

    macros {
        rgb_ug_status_macro: rgb_ug_status_macro_0 {
            label = "RGB_UG_STATUS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&rgb_ug RGB_STATUS>;
        };

        bt_0: bt_profile_macro_0 {
            label = "BT_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 0>;
        };

        bt_1: bt_profile_macro_1 {
            label = "BT_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 1>;
        };

        bt_2: bt_profile_macro_2 {
            label = "BT_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 2>;
        };

        bt_3: bt_profile_macro_3 {
            label = "BT_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 3>;
        };
    };
};

////////////////////////////////////////////////////////////////

#if 0

// < > COMPILE ERROR
// 'tapping_term_ms' is marked as deprecated in 'properties:' in /__w/zmk-config_urob/zmk-config_urob/zmk/app/dts/bindings/behaviors/zmk,behavior-hold-tap.yaml for node /behaviors/as.
// 'quick_tap_ms' is marked as deprecated in 'properties:' in /__w/zmk-config_urob/zmk-config_urob/zmk/app/dts/bindings/behaviors/zmk,behavior-hold-tap.yaml for node /behaviors/as.
// </> COMPILE ERROR

#define ZMK_BEHAVIOR_CORE_auto_shift      compatible = "zmk,behavior-hold-tap";      #binding-cells = <2>
#define ZMK_AUTO_SHIFT(name, ...) ZMK_BEHAVIOR(name, auto_shift, __VA_ARGS__)
ZMK_AUTO_SHIFT(as,
    tapping_term_ms = <135>;
    quick_tap_ms = <0>;
    flavor = "tap-preferred";
    bindings = <&kp>, <&kp>;
)
#define AS(keycode) &as LS(keycode) keycode     // Autoshift Macro

#endif

////////////////////////////////////////////////////////////////
/* mod-morph's */

#define ___MOD_MORPHS

// tap: backspace | lshft + tap: delete | rshft + tap: shift-delete
ZMK_MOD_MORPH(morph_bspc_del,
    bindings = <&kp BSPC>, <&kp DEL>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    keep-mods = <MOD_RSFT>;
)

// reuse basic mod-morph scheme
#define SIMPLE_MORPH(NAME, MOD, BINDING1, BINDING2) \
    ZMK_MOD_MORPH(NAME, \
        mods = <(MOD_L ## MOD|MOD_R ## MOD)>; \
        bindings = <BINDING1>, <BINDING2>; \
    )

SIMPLE_MORPH(morph_comma, SFT, &kp COMMA, &kp SEMICOLON)
SIMPLE_MORPH(morph_dot, SFT, &kp DOT, &kp COLON)
SIMPLE_MORPH(morph_excl, SFT, &kp EXCLAMATION, &kp QMARK)

SIMPLE_MORPH(morph_pars, SFT, &kp LEFT_PARENTHESIS, &kp RIGHT_PARENTHESIS)
SIMPLE_MORPH(morph_bkts, SFT, &kp LEFT_BRACKET, &kp RIGHT_BRACKET)
SIMPLE_MORPH(morph_brcs, SFT, &kp LEFT_BRACE, &kp RIGHT_BRACE)

SIMPLE_MORPH(morph_grave_at, SFT, &kp GRAVE, &kp AT)
SIMPLE_MORPH(morph_dollar_percent, SFT, &kp DOLLAR, &kp PERCENT)

SIMPLE_MORPH(morph_equal_tile, SFT, &kp EQUAL, &kp TILDE)
SIMPLE_MORPH(morph_add_sub, SFT, &kp PLUS, &kp MINUS)
SIMPLE_MORPH(morph_mul_div, SFT, &kp ASTERISK, &kp SLASH)

SIMPLE_MORPH(morph_lt_gt, SFT, &kp LT, &kp GT)
SIMPLE_MORPH(morph_and_or, SFT, &kp AMPERSAND, &kp PIPE)
SIMPLE_MORPH(morph_us_caret, SFT, &kp UNDERSCORE, &kp CARET)

SIMPLE_MORPH(morph_slash_backslash, SFT, &kp SLASH, &kp BACKSLASH)
SIMPLE_MORPH(morph_underscore_minus, SFT, &kp UNDERSCORE, &kp MINUS)

////////////////////////////////////////////////////////////////
/* Homerow mods */

#define ___HOMEROW_MODS

#define KEYS_L  \
        LT0 LT1 LT2 LT3 LT4 \
        LM0 LM1 LM2 LM3 LM4 \
        LB0 LB1 LB2 LB3 LB4
#define KEYS_R \
        RT0 RT1 RT2 RT3 RT4 \
        RM0 RM1 RM2 RM3 RM4 \
        RB0 RB1 RB2 RB3 RB4
#define THUMBS \
        LH2 LH1 LH0 \
        RH0 RH1 RH2

#define MAKE_HRM(NAME, HOLD, TAP, TRIGGER_POS) \
    ZMK_HOLD_TAP(NAME, \
        flavor = "balanced"; \
        tapping-term-ms = <280>; \
        quick-tap-ms = <QUICK_TAP_MS>; \
        require-prior-idle-ms = <150>; \
        bindings = <HOLD>, <TAP>; \
        hold-trigger-key-positions = <TRIGGER_POS>; \
        hold-trigger-on-release; \
    )

MAKE_HRM(hrml, &kp, &kp, KEYS_R THUMBS)  // left-hand HRMs
MAKE_HRM(hrmr, &kp, &kp, KEYS_L THUMBS)  // right-hand HRMs

#define HRML_KP_KP(key_on_hold, key_on_tap) hrml key_on_hold key_on_tap
#define HRMR_KP_KP(key_on_hold, key_on_tap) hrmr key_on_hold key_on_tap

MAKE_HRM(hrml_mo_kp, &mo, &kp, KEYS_R THUMBS)
MAKE_HRM(hrmr_mo_kp, &mo, &kp, KEYS_L THUMBS)

#define HRML_MO_KP(layer_on_hold, key_on_tab) hrml_mo_kp layer_on_hold key_on_tab
#define HRMR_MO_KP(layer_on_hold, key_on_tab) hrmr_mo_kp layer_on_hold key_on_tab

MAKE_HRM(hrml_kp_morph_add_sub, &kp, &morph_add_sub, KEYS_R THUMBS)
MAKE_HRM(hrml_kp_morph_mul_div, &kp, &morph_mul_div, KEYS_R THUMBS)

MAKE_HRM(hrmr_kp_morph_pars, &kp, &morph_pars, KEYS_L THUMBS)
MAKE_HRM(hrmr_kp_morph_bkts, &kp, &morph_bkts, KEYS_L THUMBS)
MAKE_HRM(hrmr_kp_morph_brcs, &kp, &morph_brcs, KEYS_L THUMBS)

#define MAKE_HRML_KP_MORPH(morph_on_tap) \
    MAKE_HRM(hrml_kp_morph_ ## morph_on_tab, &kp, &morph_on_tap, KEYS_R THUMBS)

#define HRML_KP_MORPH(key_on_hold, morph_on_tap) \
    hrml_kp_morph_ ## morph_on_tab key_on_hold 0

////////////////////////////////

#define KEY_HRM_M4    LALT
#define KEY_HRM_M3    SYM
#define KEY_HRM_M2    LSHFT
#define KEY_HRM_M1    LCTRL
#define KEY_HRM_M0    0

#define MOD_HRM_M4    LA
#define MOD_HRM_M3    0
#define MOD_HRM_M2    LS
#define MOD_HRM_M1    LC
#define MOD_HRM_M0    0

#define HRML_M4_HOLD_TAP(key_on_tap) HRML_KP_KP(KEY_HRM_M4, key_on_tap)
#define HRML_M3_HOLD_TAP(key_on_tap) HRML_MO_KP(KEY_HRM_M3, key_on_tap)
#define HRML_M2_HOLD_TAP(key_on_tap) HRML_KP_KP(KEY_HRM_M2, key_on_tap)
#define HRML_M1_HOLD_TAP(key_on_tap) HRML_KP_KP(KEY_HRM_M1, key_on_tap)
#define HRML_M0_HOLD_TAP(key_on_tap) kp key_on_tap

#define HRMR_M0_HOLD_TAP(key_on_tap) kp key_on_tap
#define HRMR_M1_HOLD_TAP(key_on_tap) HRMR_KP_KP(KEY_HRM_M1, key_on_tap)
#define HRMR_M2_HOLD_TAP(key_on_tap) HRMR_KP_KP(KEY_HRM_M2, key_on_tap)
#define HRMR_M3_HOLD_TAP(key_on_tap) HRMR_MO_KP(KEY_HRM_M3, key_on_tap)
#define HRMR_M4_HOLD_TAP(key_on_tap) HRMR_KP_KP(KEY_HRM_M4, key_on_tap)

#define HRML_M4_TAP() kp KEY_HRM_M4
#define HRML_M3_TAP() mo KEY_HRM_M3
#define HRML_M2_TAP() kp KEY_HRM_M2
#define HRML_M1_TAP() kp KEY_HRM_M1
#define HRML_M0_TAP() none

#define HRMR_M0_TAP() none
#define HRMR_M1_TAP() kp KEY_HRM_M1
#define HRMR_M2_TAP() kp KEY_HRM_M2
#define HRMR_M3_TAP() mo KEY_HRM_M3
#define HRMR_M4_TAP() kp KEY_HRM_M4

#define HRML_M2_HOLD_MORPH(morph_on_tap) HRML_KP_MORPH(KEY_HRM_M2, morph_on_tap)

////////////////////////////////

#define HRML_B4(key) kp key
#define HRML_B3(key) HRML_KP_KP(LGUI, key)
#define HRML_B2(key) kp key
#define HRML_B1(key) kp key
#define HRML_B0(key) HRML_MO_KP(NUM, key)

#define HRMR_B4(key) kp key
#define HRMR_B3(key) HRMR_KP_KP(LGUI, key)
#define HRMR_B2(key) kp key
#define HRMR_B1(key) kp key
#define HRMR_B0(key) HRMR_MO_KP(NUM, key)

////////////////////////////////////////////////////////////////
/*    KEY POSITIONS
  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯
*/

#define ___COMBOS

#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

////////////////////////////////
/* Horizontal combos - left hand */

// ZMK_COMBO(combo_lt_01100, &morph_grave_at, LT3 LT2, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(combo_lt_00110, &morph_dollar_percent, LT2 LT1, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(combo_lt_01010, &kp HASH, LT3 LT1, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// ZMK_COMBO(combo_lm_01100, &hrml MOD_HRM_M3(KEY_HRM_M2) DELETE, LM3 LM2, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(combo_lm_00110, &hrml MOD_HRM_M2(KEY_HRM_M1) BACKSPACE, LM2 LM1, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(combo_lm_01010, &hrml MOD_HRM_M3(KEY_HRM_M1) 0, LM3 LM1, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// ZMK_COMBO(combo_lb_01100, &kp MACRO_CUT, LB3 LB2, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(combo_lb_00110, &kp MACRO_COPY, LB2 LB1, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(combo_lb_01010, &kp MACRO_PASTE, LB3 LB1, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// ZMK_COMBO(combo_lt_00011, &kp MACRO_COPY, LT1 LT0, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(combo_lm_00011, &hrml KEY_HRM_M1 MACRO_PASTE, LM1 LM0, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(combo_lb_00011, &kp MACRO_CUT, LB1 LB0, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

////////////////////////////////
/* Horizontal combos - right hand */

// ZMK_COMBO(combo_rt_01100, &morph_add_sub, RT1 RT2, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(combo_rt_00110, &morph_mul_div, RT2 RT3, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(combo_rt_01010, &morph_equal_tile, RT1 RT3, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// ZMK_COMBO(combo_rm_01100, &hrmr_kp_morph_pars MOD_HRM_M1(KEY_HRM_M2) 0, RM1 RM2, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(combo_rm_00110, &hrmr_kp_morph_bkts MOD_HRM_M2(KEY_HRM_M3) 0, RM2 RM3, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(combo_rm_01010, &hrmr_kp_morph_brcs MOD_HRM_M1(KEY_HRM_M3) 0, RM1 RM3, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// ZMK_COMBO(combo_rb_01100, &morph_us_caret, RB1 RB2, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(combo_rb_00110, &morph_and_or, RB2 RB3, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// ZMK_COMBO(combo_rb_01010, &morph_lt_gt, RB1 RB3, DEF NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

////////////////////////////////////////////////////////////////
/* Caps-word, num-word and smart-mouse */

#define ___CAPS_WORD___NUM_WORD___MOUSE

////////////////////////////////

// tap: sticky-shift | shift + tap/ double-tap: caps-word | hold: shift
ZMK_MOD_MORPH(morph_shift_capsword,
    bindings = <&sk LSHFT>, <&caps_word>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)
&caps_word {  // mods deactivate caps-word, requires PR #1451
    /delete-property/ ignore-modifiers;
};

////////////////////////////////

// tap: num-word | double-tap: sticky num-layer | hold: num-layer
#define SMART_NUM &hold_numlayer_numdance NUM 0
ZMK_HOLD_TAP(hold_numlayer_numdance,
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&mo>, <&dance_numword_num>;
)
ZMK_TAP_DANCE(dance_numword_num,
    tapping-term-ms = <200>;
    bindings = <&num_word NUM>, <&sl NUM>;  // reverse this for sticky-num on single tap
)
&num_word {
    continue-list = <BSPC DEL DOT COMMA COLON SEMICOLON PLUS MINUS STAR FSLH EQUAL KP_DOT KP_PLUS KP_MINUS KP_MULTIPLY KP_DIVIDE>;
    ignore-modifiers;
};

////////////////////////////////

// smart-mouse, requires PR #1366
ZMK_TRI_STATE(smart_mouse,
    bindings = <&tog MOUSE>, <&none>, <&tog MOUSE>;
    ignored-key-positions = <LT1 LT3 RT0 RT1 RT2 RT3 RT4 RM1 RM2 RM3 RB1 RB2 RB3 RH0 RH1>;
    ignored-layers = <MOUSE>;
)

////////////////////////////////////////////////////////////////
/* Custom behaviors */

#define ___VARIOUS

////////////////////////////////

// Sticky layer + sticky shift (workaround for issue #1421)
ZMK_STICKY_KEY(sk_sym,
    release-after-ms = <1000>;
    bindings = <&macro_mo_sym_shift>;
    ignore-modifiers;
)
ZMK_MACRO(macro_mo_sym_shift,
    wait-ms = <0>;
    tap-ms = <1>;
    bindings = <&macro_press &mo SYM &kp LSHFT>
             , <&macro_pause_for_release>
             , <&macro_release &mo SYM &kp LSHFT>;
)

////////////////////////////////

// tap: space | shift + tap: dot -> space -> sticky shift | hold: activate layer
ZMK_HOLD_TAP(lt_space_dotspace,
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&mo>, <&morph_space_dotspace>;
)
SIMPLE_MORPH(morph_space_dotspace, SFT, &kp SPACE, &macro_dot_space_shift)
ZMK_MACRO(macro_dot_space_shift,
    wait-ms = <0>;
    tap-ms = <5>;
    bindings = <&kp DOT &kp SPACE &sk LSHFT>;
)

////////////////////////////////

// tap: copy | double-tap: cut
ZMK_TAP_DANCE(copy_cut,
    tapping-term-ms = <200>;
    bindings = <&kp LC(INS)>, <&kp LC(X)>;
)

// Windows sleep key
ZMK_MACRO(win_sleep,
    wait-ms = <500>;
    tap-ms = <50>;
    bindings = <&kp LG(X) &kp U &kp S>;
)

////////////////////////////////

// misc aliases
#define CANCEL      &kp K_CANCEL             // cancel caps-word, num-word and smart-mouse
#define DSK_PREV    &hrmr LCTRL LG(LC(LEFT))   // previous desktop
#define DSK_NEXT    &hrmr LALT LG(LC(RIGHT)) // next     desktop
#define PIN_WIN     &kp LG(LC(LS(Q)))        // pin window across desktops
#define PIN_APP     &kp LG(LC(LS(A)))        // pin application across desktops
#define DSK_MGR     &kp LA(GRAVE)            // desktop manager

////////////////////////////////////////////////////////////////

#define ___KEYMAPS

//
// ╭─────┬─────┬─────┬─────┬─────╮           ╭─────┬─────┬─────┬─────┬─────╮
// │ LC5 │ LC4 │ LC3 │ LC2 │ LC1 │           │ LC5 │ LC3 │ LC5 │ LC5 │ LC5 │
// ├─────┼─────┼─────┼─────┼─────┼─────┬─────┼─────┼─────┼─────┼─────┼─────┤
// │ LN5 │ LN4 │ LN3 │ LN2 │ LN1 │ LN0 │ RN0 │ RN1 │ RN2 │ RN3 │ RN4 │ RN5 │
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LT5 │ LT4 │ LT3 │ LT2 │ LT1 │ LT0 │ RT0 │ RT1 │ RT2 │ RT3 │ RT4 │ RT5 │
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LM5 │ LM4 │ LM3 │ LM2 │ LM1 │ LM0 │ RM0 │ RM1 │ RM2 │ RM3 │ RM4 │ RM5 │
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LB5 │ LB4 │ LB3 │ LB2 │ LB1 │ LB0 │ RB0 │ RB1 │ RB2 │ RB3 │ RB4 │ RB5 │
// ├─────┼─────┼─────┼─────┼─────┼─────┴─────┼─────┼─────┼─────┼─────┼─────┤
// │ LF5 │ LF4 │ LF3 │ LF2 │ LF1 │           │ RF1 │ RF2 │ RF3 │ RF4 │ RF5 │
// ├─────┼─────┼─────┼─────┴─────╯           ╰─────┴─────┼─────┼─────┼─────┤
// │ LH5 │ LH4 │ LH3 │                                   │ RH3 │ RH4 │ RH5 │
// ├─────┼─────┼─────┤                                   ├─────┼─────┼─────┤
// │ LH2 │ LH1 │ LH0 │                                   │ RH0 │ RH1 │ RH2 │
// ╰─────┴─────┴─────╯                                   ╰─────┴─────┴─────╯
//
//       ╭─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────╮
//       │ LT4 │ LT3 │ LT2 │ LT1 │ LT0 │ RT0 │ RT1 │ RT2 │ RT3 │ RT4 │
//       ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
//       │ LM4 │ LM3 │ LM2 │ LM1 │ LM0 │ RM0 │ RM1 │ RM2 │ RM3 │ RM4 │
//       ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
//       │ LB4 │ LB3 │ LB2 │ LB1 │ LB0 │ RB0 │ RB1 │ RB2 │ RB3 │ RB4 │
//       ├─────┼─────┼─────┴─────┴─────┴─────┴─────┴─────┼─────┼─────┤
//       │ LH1 │ LH0 │                                   │ RH0 │ RH1 │
//       ╰─────┴─────╯                                   ╰─────┴─────╯

#define ___KEYMAP_BASE

GLV80_LAYER(base,
// ╭─────┬─────┬─────┬─────┬─────╮           ╭─────┬─────┬─────┬─────┬─────╮
// │ LC5 │ LC4 │ LC3 │ LC2 │ LC1 │           │ LC5 │ LC3 │ LC5 │ LC5 │ LC5 │
    &kp F1
    &kp F2
    &kp F3
    &kp F4
    &kp F5

    &kp F6
    &kp F7
    &kp F8
    &kp F9
    &kp F10
// ├─────┼─────┼─────┼─────┼─────┼─────┬─────┼─────┼─────┼─────┼─────┼─────┤
// │ LN5 │ LN4 │ LN3 │ LN2 │ LN1 │ LN0 │ RN0 │ RN1 │ RN2 │ RN3 │ RN4 │ RN5 │
    &kp EQUAL

    &kp N1
    &kp N2
    &kp N3
    &kp N4
    &kp N5

    &kp N6
    &kp N7
    &kp N8
    &kp N9
    &kp N0

    &kp MINUS
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LT5 │ LT4 │ LT3 │ LT2 │ LT1 │ LT0 │ RT0 │ RT1 │ RT2 │ RT3 │ RT4 │ RT5 │
    &morph_shift_capsword

    &kp Q
    &kp W
    &kp E
    &kp R
    &kp T

    &kp Y
    &kp U
    &kp I
    &kp O
    &kp P

    &kp BSPC
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LM5 │ LM4 │ LM3 │ LM2 │ LM1 │ LM0 │ RM0 │ RM1 │ RM2 │ RM3 │ RM4 │ RM5 │
    &mt K_CANCEL ESC

    &HRML_M4_HOLD_TAP(A)
    &HRML_M3_HOLD_TAP(S)
    &HRML_M2_HOLD_TAP(D)
    &HRML_M1_HOLD_TAP(F)
    &HRML_M0_HOLD_TAP(G)

    &HRMR_M0_HOLD_TAP(H)
    &HRMR_M1_HOLD_TAP(J)
    &HRMR_M2_HOLD_TAP(K)
    &HRMR_M3_HOLD_TAP(L)
    &HRMR_M4_HOLD_TAP(SQT)

    &kp RET
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LB5 │ LB4 │ LB3 │ LB2 │ LB1 │ LB0 │ RB0 │ RB1 │ RB2 │ RB3 │ RB4 │ RB5 │
    &kp MACRO_UNDO

    &kp Z
    &kp X
    &kp C
    &kp V
    &kp B
    ,
    &kp N
    &kp M
    &morph_comma
    &morph_dot
    &morph_excl

    &kp MACRO_REDO
// ├─────┼─────┼─────┼─────┼─────┼─────┴─────┼─────┼─────┼─────┼─────┼─────┤
// │ LF5 │ LF4 │ LF3 │ LF2 │ LF1 │           │ RF1 │ RF2 │ RF3 │ RF4 │ RF5 │
    &magic MAGIC 0
    &kp HOME
    &kp END
    &kp LEFT
    &kp RIGHT
    ,
    &kp UP
    &kp DOWN
    &kp LBKT
    &kp RBKT
    &kp DEL
    ,
// ├─────┼─────┼─────┼─────┴─────╯           ╰─────┴─────┼─────┼─────┼─────┤
// │ LH5 │ LH4 │ LH3 │                                   │ RH3 │ RH4 │ RH5 │
    &kp DELETE
    SMART_NUM
    XXX

    XXX
    &kp MINUS
    &kp UNDERSCORE
    ,
// ├─────┼─────┼─────┤                                   ├─────┼─────┼─────┤
// │ LH2 │ LH1 │ LH0 │                                   │ RH0 │ RH1 │ RH2 │
    &lt NAV BSPC
    &lt FN TAB
    &kp RALT

    &kp LGUI
    &morph_slash_backslash
    &lt_space_dotspace FN 0
// ╰─────┴─────┴─────╯                                   ╰─────┴─────┴─────╯
)

////////////////////////////////

#define ___KEYMAP_NAV

// long-tap action on hold, short-tap action on all interrupts
#define MT_CORE \
    flavor = "tap-preferred"; \
    tapping-term-ms = <220>; \
    quick-tap-ms = <220>; \
    hold-trigger-key-positions = <0>;

&mt { MT_CORE };
ZMK_HOLD_TAP(mt_home, bindings = <&masked_home>, <&kp>; MT_CORE)
ZMK_HOLD_TAP(mt_end, bindings = <&masked_end>, <&kp>; MT_CORE)

#define NAV_LEFT  &mt_home 0   LEFT    // tap: left  | long-tap: beginning of line
#define NAV_RIGHT &mt_end 0    RIGHT   // tap: right | long-tap: end       of line
#define NAV_UP    &mt LC(HOME) UP      // tap: up    | long-tap: beginning of document
#define NAV_DOWN  &mt LC(END)  DOWN    // tap: down  | long-tap: end       of document
#define NAV_BSPC  &mt LC(BSPC) BSPC    // tap: bspc  | long-tap: delete word backward
#define NAV_DEL   &mt LC(DEL)  DEL     // tap: del   | long-tap: delete word forward

// mask CTRL when holding left/right to avoid accidental jumps to beginning/end of document
#define MASK_MODS(NAME, MODS, BINDING) \
    ZMK_MOD_MORPH(NAME, \
        bindings = <BINDING>, <BINDING>; \
        mods = <MODS>; \
    )
MASK_MODS(masked_home, (MOD_LCTL), &kp HOME)
MASK_MODS(masked_end,  (MOD_LCTL), &kp END)

// Alt+Tab swapper, requires PR #1366
ZMK_TRI_STATE(swapper,
    bindings = <&kt LALT>, <&kp TAB>, <&kt LALT>;
    ignored-key-positions = <LT2>;
)

GLV80_LAYER(nav,
// ╭─────┬─────┬─────┬─────┬─────╮           ╭─────┬─────┬─────┬─────┬─────╮
// │ LC5 │ LC4 │ LC3 │ LC2 │ LC1 │           │ LC5 │ LC3 │ LC5 │ LC5 │ LC5 │
    ___   ___   ___   ___   ___               ___   ___   ___   ___   ___
// ├─────┼─────┼─────┼─────┼─────┼─────┬─────┼─────┼─────┼─────┼─────┼─────┤
// │ LN5 │ LN4 │ LN3 │ LN2 │ LN1 │ LN0 │ RN0 │ RN1 │ RN2 │ RN3 │ RN4 │ RN5 │
    ___   ___   ___   ___   ___   ___   ___   ___   ___   ___   ___   ___
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LT5 │ LT4 │ LT3 │ LT2 │ LT1 │ LT0 │ RT0 │ RT1 │ RT2 │ RT3 │ RT4 │ RT5 │
    ___

    XXX
    XXX
    &kp LS(TAB)
    &swapper
    XXX

    XXX
    NAV_BSPC
    NAV_UP
    NAV_DEL
    XXX

    ___
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LM5 │ LM4 │ LM3 │ LM2 │ LM1 │ LM0 │ RM0 │ RM1 │ RM2 │ RM3 │ RM4 │ RM5 │
    ___

    &HRML_M4_TAP()
    XXX
    &HRML_M2_TAP()
    &HRML_M1_TAP()
    &HRML_M0_TAP()

    XXX
    NAV_LEFT
    NAV_DOWN
    NAV_RIGHT
    XXX

    ___
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LB5 │ LB4 │ LB3 │ LB2 │ LB1 │ LB0 │ RB0 │ RB1 │ RB2 │ RB3 │ RB4 │ RB5 │
    ___

    XXX
    &kp MACRO_CUT
    &kp MACRO_COPY
    &kp MACRO_PASTE
    XXX
    ,
    &kp INSERT
    &kp PAGE_UP
    XXX
    &kp PAGE_DOWN
    XXX

    ___
// ├─────┼─────┼─────┼─────┼─────┼─────┴─────┼─────┼─────┼─────┼─────┼─────┤
// │ LF5 │ LF4 │ LF3 │ LF2 │ LF1 │           │ RF1 │ RF2 │ RF3 │ RF4 │ RF5 │
     ___   ___   ___   ___   ___       ,       ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┴─────╯           ╰─────┴─────┼─────┼─────┼─────┤
// │ LH5 │ LH4 │ LH3 │                                   │ RH3 │ RH4 │ RH5 │
     ___   ___   ___                                       ___   ___   ___,
// ├─────┼─────┼─────┤                                   ├─────┼─────┼─────┤
// │ LH2 │ LH1 │ LH0 │                                   │ RH0 │ RH1 │ RH2 │
     ___   ___   ___                                       ___   ___   ___
)

////////////////////////////////

#define ___KEYMAP_FN

GLV80_LAYER(fn,
// ╭─────┬─────┬─────┬─────┬─────╮           ╭─────┬─────┬─────┬─────┬─────╮
// │ LC5 │ LC4 │ LC3 │ LC2 │ LC1 │           │ LC5 │ LC3 │ LC5 │ LC5 │ LC5 │
     ___   ___   ___   ___   ___               ___   ___   ___   ___   ___
// ├─────┼─────┼─────┼─────┼─────┼─────┬─────┼─────┼─────┼─────┼─────┼─────┤
// │ LN5 │ LN4 │ LN3 │ LN2 │ LN1 │ LN0 │ RN0 │ RN1 │ RN2 │ RN3 │ RN4 │ RN5 │
     ___   ___   ___   ___   ___   ___   ___   ___   ___   ___   ___   ___
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LT5 │ LT4 │ LT3 │ LT2 │ LT1 │ LT0 │ RT0 │ RT1 │ RT2 │ RT3 │ RT4 │ RT5 │
    ___

    &kp SCROLLLOCK
    &kp F7
    &kp F8
    &kp F9
    &kp F10

    XXX
    &kp C_PREV
    &kp C_VOL_UP
    &kp C_NEXT
    XXX

    ___
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LM5 │ LM4 │ LM3 │ LM2 │ LM1 │ LM0 │ RM0 │ RM1 │ RM2 │ RM3 │ RM4 │ RM5 │
    ___

    &HRML_M4_HOLD_TAP(PAUSE_BREAK)
    &HRML_M3_HOLD_TAP(F4)
    &HRML_M2_HOLD_TAP(F5)
    &HRML_M1_HOLD_TAP(F6)
    &HRML_M0_HOLD_TAP(F11)

    &HRMR_M0_TAP()
    &HRMR_M1_TAP()
    &HRMR_M2_HOLD_TAP(C_VOL_DN)
    &HRMR_M3_TAP()
    &HRMR_M4_TAP()

    ___
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LB5 │ LB4 │ LB3 │ LB2 │ LB1 │ LB0 │ RB0 │ RB1 │ RB2 │ RB3 │ RB4 │ RB5 │
    ___

    &kp PSCRN
    &kp F1
    &kp F2
    &kp F3
    &kp F12
    ,
    XXX
    XXX
    XXX
    XXX
    XXX

    ___
// ├─────┼─────┼─────┼─────┼─────┼─────┴─────┼─────┼─────┼─────┼─────┼─────┤
// │ LF5 │ LF4 │ LF3 │ LF2 │ LF1 │           │ RF1 │ RF2 │ RF3 │ RF4 │ RF5 │
     ___   ___   ___   ___   ___       ,       ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┴─────╯           ╰─────┴─────┼─────┼─────┼─────┤
// │ LH5 │ LH4 │ LH3 │                                   │ RH3 │ RH4 │ RH5 │
     ___   ___   ___                                       ___   ___   ___,
// ├─────┼─────┼─────┤                                   ├─────┼─────┼─────┤
// │ LH2 │ LH1 │ LH0 │                                   │ RH0 │ RH1 │ RH2 │
     ___   ___   ___                                       ___   ___   ___
// ╰─────┴─────┴─────╯                                   ╰─────┴─────┴─────╯
)

////////////////////////////////

#define ___KEYMAP_NUM

GLV80_LAYER(num,
// ╭─────┬─────┬─────┬─────┬─────╮           ╭─────┬─────┬─────┬─────┬─────╮
// │ LC5 │ LC4 │ LC3 │ LC2 │ LC1 │           │ LC5 │ LC3 │ LC5 │ LC5 │ LC5 │
     ___   ___   ___   ___   ___               ___   ___   ___   ___   ___
// ├─────┼─────┼─────┼─────┼─────┼─────┬─────┼─────┼─────┼─────┼─────┼─────┤
// │ LN5 │ LN4 │ LN3 │ LN2 │ LN1 │ LN0 │ RN0 │ RN1 │ RN2 │ RN3 │ RN4 │ RN5 │
     ___   ___   ___   ___   ___   ___   ___   ___   ___   ___   ___   ___
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LT5 │ LT4 │ LT3 │ LT2 │ LT1 │ LT0 │ RT0 │ RT1 │ RT2 │ RT3 │ RT4 │ RT5 │
    ___

    &kp KP_NUMLOCK
    XXX
    XXX
    XXX
    XXX

    XXX
    &kp KP_N7
    &kp KP_N8
    &kp KP_N9
    &kp SEMICOLON

    ___
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LM5 │ LM4 │ LM3 │ LM2 │ LM1 │ LM0 │ RM0 │ RM1 │ RM2 │ RM3 │ RM4 │ RM5 │
    ___

    &HRML_M4_HOLD_TAP(KP_PLUS)
    &HRML_M3_HOLD_TAP(KP_MINUS)
    &HRML_M2_HOLD_TAP(KP_MULTIPLY)
    &HRML_M1_HOLD_TAP(KP_DIVIDE)
    &HRML_M0_TAP()

    &kp KP_N0
    &kp KP_N4
    &kp KP_N5
    &kp KP_N6
    &kp KP_DOT

    ___
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LB5 │ LB4 │ LB3 │ LB2 │ LB1 │ LB0 │ RB0 │ RB1 │ RB2 │ RB3 │ RB4 │ RB5 │
    ___

    XXX
    XXX
    XXX
    XXX
    XXX
    ,
    XXX
    &kp KP_N1
    &kp KP_N2
    &kp KP_N3
    &kp COMMA

    ___
// ├─────┼─────┼─────┼─────┼─────┼─────┴─────┼─────┼─────┼─────┼─────┼─────┤
// │ LF5 │ LF4 │ LF3 │ LF2 │ LF1 │           │ RF1 │ RF2 │ RF3 │ RF4 │ RF5 │
     ___   ___   ___   ___   ___       ,       ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┴─────╯           ╰─────┴─────┼─────┼─────┼─────┤
// │ LH5 │ LH4 │ LH3 │                                   │ RH3 │ RH4 │ RH5 │
     ___   ___   ___                                       ___   ___   ___,
// ├─────┼─────┼─────┤                                   ├─────┼─────┼─────┤
// │ LH2 │ LH1 │ LH0 │                                   │ RH0 │ RH1 │ RH2 │
    ___
    ___
    ___

    ___
    &kp C_MUTE
    &kp C_PP
// ╰─────┴─────┴─────╯                                   ╰─────┴─────┴─────╯
)

////////////////////////////////

#define ___KEYMAP_SYS

GLV80_LAYER(sys,
// ╭─────┬─────┬─────┬─────┬─────╮           ╭─────┬─────┬─────┬─────┬─────╮
// │ LC5 │ LC4 │ LC3 │ LC2 │ LC1 │           │ LC5 │ LC3 │ LC5 │ LC5 │ LC5 │
     ___   ___   ___   ___   ___               ___   ___   ___   ___   ___
// ├─────┼─────┼─────┼─────┼─────┼─────┬─────┼─────┼─────┼─────┼─────┼─────┤
// │ LN5 │ LN4 │ LN3 │ LN2 │ LN1 │ LN0 │ RN0 │ RN1 │ RN2 │ RN3 │ RN4 │ RN5 │
     ___   ___   ___   ___   ___   ___   ___   ___   ___   ___   ___   ___
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LT5 │ LT4 │ LT3 │ LT2 │ LT1 │ LT0 │ RT0 │ RT1 │ RT2 │ RT3 │ RT4 │ RT5 │
    ___
    _BT_SEL_KEYS_

    XXX   XXX   XXX   XXX   XXX
    ___
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LM5 │ LM4 │ LM3 │ LM2 │ LM1 │ LM0 │ RM0 │ RM1 │ RM2 │ RM3 │ RM4 │ RM5 │
    ___

    XXX
    XXX
    XXX
    XXX
    &bootloader

    &bootloader
    XXX
    XXX
    XXX
    XXX

    ___
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LB5 │ LB4 │ LB3 │ LB2 │ LB1 │ LB0 │ RB0 │ RB1 │ RB2 │ RB3 │ RB4 │ RB5 │
    ___

    XXX
    XXX
    XXX
    XXX
    &sys_reset
    ,
    &sys_reset
    XXX
    XXX
    XXX
    XXX

    ___
// ├─────┼─────┼─────┼─────┼─────┼─────┴─────┼─────┼─────┼─────┼─────┼─────┤
// │ LF5 │ LF4 │ LF3 │ LF2 │ LF1 │           │ RF1 │ RF2 │ RF3 │ RF4 │ RF5 │
     ___   ___   ___   ___   ___       ,       ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┴─────╯           ╰─────┴─────┼─────┼─────┼─────┤
// │ LH5 │ LH4 │ LH3 │                                   │ RH3 │ RH4 │ RH5 │
     ___   ___   ___                                       ___   ___   ___,
// ├─────┼─────┼─────┤                                   ├─────┼─────┼─────┤
// │ LH2 │ LH1 │ LH0 │                                   │ RH0 │ RH1 │ RH2 │
     ___   ___   ___                                       ___   ___   ___
// ╰─────┴─────┴─────╯                                   ╰─────┴─────┴─────╯
)

////////////////////////////////

#define ___KEYMAP_MOUSE

GLV80_LAYER(mouse,
// ╭─────┬─────┬─────┬─────┬─────╮           ╭─────┬─────┬─────┬─────┬─────╮
// │ LC5 │ LC4 │ LC3 │ LC2 │ LC1 │           │ LC5 │ LC3 │ LC5 │ LC5 │ LC5 │
     ___   ___   ___   ___   ___               ___   ___   ___   ___   ___
// ├─────┼─────┼─────┼─────┼─────┼─────┬─────┼─────┼─────┼─────┼─────┼─────┤
// │ LN5 │ LN4 │ LN3 │ LN2 │ LN1 │ LN0 │ RN0 │ RN1 │ RN2 │ RN3 │ RN4 │ RN5 │
     ___   ___   ___   ___   ___   ___   ___   ___   ___   ___   ___   ___
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LT5 │ LT4 │ LT3 │ LT2 │ LT1 │ LT0 │ RT0 │ RT1 │ RT2 │ RT3 │ RT4 │ RT5 │
    ___

    XXX
    XXX
    XXX
    XXX
    XXX

    U_WH_L
    U_WH_D
    U_MS_U
    U_WH_U
    U_WH_R

    ___
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LM5 │ LM4 │ LM3 │ LM2 │ LM1 │ LM0 │ RM0 │ RM1 │ RM2 │ RM3 │ RM4 │ RM5 │
    ___

    XXX
    XXX
    XXX
    XXX
    XXX

    XXX
    U_MS_L
    U_MS_D
    U_MS_R
    XXX

    ___
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LB5 │ LB4 │ LB3 │ LB2 │ LB1 │ LB0 │ RB0 │ RB1 │ RB2 │ RB3 │ RB4 │ RB5 │
    ___

    XXX
    XXX
    XXX
    XXX
    XXX
    ,
    XXX
    &mkp MB4
    &mkp MCLK
    &mkp MB5
    XXX

    ___
// ├─────┼─────┼─────┼─────┼─────┼─────┴─────┼─────┼─────┼─────┼─────┼─────┤
// │ LF5 │ LF4 │ LF3 │ LF2 │ LF1 │           │ RF1 │ RF2 │ RF3 │ RF4 │ RF5 │
     ___   ___   ___   ___   ___       ,       ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┴─────╯           ╰─────┴─────┼─────┼─────┼─────┤
// │ LH5 │ LH4 │ LH3 │                                   │ RH3 │ RH4 │ RH5 │
     ___   ___   ___                                       ___   ___   ___,
// ├─────┼─────┼─────┤                                   ├─────┼─────┼─────┤
// │ LH2 │ LH1 │ LH0 │                                   │ RH0 │ RH1 │ RH2 │
     ___
     ___
     ___

     ___
     &mkp RCLK
     &mkp LCLK
// ╰─────┴─────┴─────╯                                   ╰─────┴─────┴─────╯
)

////////////////////////////////

#define ___KEYMAP_FACTORY

ZMK_LAYER(factory,
    &kp N0   &kp N6   &kp N2   &kp N8   &kp N4                                                                              &kp N4   &kp N8   &kp N2   &kp N6   &kp N0
    &kp N1   &kp N7   &kp N3   &kp N9   &kp N5   &kp N0                                                            &kp N0   &kp N5   &kp N9   &kp N3   &kp N7   &kp N1
    &kp N2   &kp N8   &kp N4   &kp N0   &kp N6   &kp N1                                                            &kp N1   &kp N6   &kp N0   &kp N4   &kp N8   &kp N2
    &kp N3   &kp N9   &kp N5   &kp N1   &kp N7   &kp N2                                                            &kp N2   &kp N7   &kp N1   &kp N5   &kp N9   &kp N3
    &kp N4   &kp N0   &kp N6   &kp N2   &kp N8   &kp N3   &kp N4   &kp N5   &kp N6      &kp N6   &kp N5   &kp N4   &kp N3   &kp N8   &kp N2   &kp N6   &kp N0   &kp N4
    &kp N5   &kp N1   &kp N7   &kp N3   &kp N9            &kp N7   &kp N8   &kp N9      &kp N9   &kp N8   &kp N7            &kp N9   &kp N3   &kp N7   &kp N1   &kp N5
)

////////////////////////////////

#define ___KEYMAP_MAGIC

ZMK_LAYER(magic,
    &bt BT_CLR        &none               &none           &none           &none                                                                                                           &none      &none      &none      &none      &bt BT_CLR_ALL
    &none             &none               &none           &none           &none           &none                                                                                &none      &none      &none      &none      &none      &none
    &none             &rgb_ug RGB_SPI     &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_BRI &rgb_ug RGB_TOG                                                                      &none      &none      &none      &none      &none      &none
    &bootloader       &rgb_ug RGB_SPD     &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_BRD &rgb_ug RGB_EFF                                                                      &none      &none      &none      &none      &none      &bootloader
    &sys_reset        &none               &none           &none           &none           &none           &bt_2     &bt_3     &none            &none     &none     &none       &none      &none      &none      &none      &none      &sys_reset
    &none             &none               &none           &none           &none                           &bt_0     &bt_1     &out OUT_USB     &none     &none     &none                  &none      &none      &none      &none      &to FACTORY
)

////////////////////////////////

#define ___KEYMAP_SYM

MAKE_HRML_KP_MORPH(morph_add_sub)
MAKE_HRML_KP_MORPH(morph_add_sub)

GLV80_LAYER(sym,
// ╭─────┬─────┬─────┬─────┬─────╮           ╭─────┬─────┬─────┬─────┬─────╮
// │ LC5 │ LC4 │ LC3 │ LC2 │ LC1 │           │ LC5 │ LC3 │ LC5 │ LC5 │ LC5 │
     ___   ___   ___   ___   ___               ___   ___   ___   ___   ___
// ├─────┼─────┼─────┼─────┼─────┼─────┬─────┼─────┼─────┼─────┼─────┼─────┤
// │ LN5 │ LN4 │ LN3 │ LN2 │ LN1 │ LN0 │ RN0 │ RN1 │ RN2 │ RN3 │ RN4 │ RN5 │
     ___   ___   ___   ___   ___   ___   ___   ___   ___   ___   ___   ___
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LT5 │ LT4 │ LT3 │ LT2 │ LT1 │ LT0 │ RT0 │ RT1 │ RT2 │ RT3 │ RT4 │ RT5 │
    ___

    XXX
    &kp AT_SIGN
    &kp HASH
    &kp DOLLAR
    &kp PERCENT

    &kp SLASH
    &kp BACKSLASH
    &kp MINUS
    &kp UNDERSCORE
    XXX

    ___
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LM5 │ LM4 │ LM3 │ LM2 │ LM1 │ LM0 │ RM0 │ RM1 │ RM2 │ RM3 │ RM4 │ RM5 │
    ___

    &HRML_M4_HOLD_TAP(CARET)
    &morph_mul_div
    &HRML_M2_HOLD_MORPH(morph_add_sub)
    //&HRML_KP_MORPH(KEY_HRM_M2, morph_add_sub)
    //&hrml_kp_morph_add_sub KEY_HRM_M2 0
    &HRML_M1_HOLD_TAP(EQUAL)
    &HRML_M0_TAP()

    &HRMR_M0_HOLD_TAP(PIPE)
    &morph_pars
    &hrmr_kp_morph_bkts KEY_HRM_M2 0
    &hrmr_kp_morph_brcs KEY_HRM_M3 0
    &HRMR_M4_HOLD_TAP(DOUBLE_QUOTES)

    ___
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LB5 │ LB4 │ LB3 │ LB2 │ LB1 │ LB0 │ RB0 │ RB1 │ RB2 │ RB3 │ RB4 │ RB5 │
    ___

    &kp EXCLAMATION
    &morph_and_or
    &morph_lt_gt
    &kp TILDE
    XXX
    ,
    XXX
    &kp GRAVE
    &kp SEMICOLON
    &kp COLON
    &kp QUESTION

    ___
// ├─────┼─────┼─────┼─────┼─────┼─────┴─────┼─────┼─────┼─────┼─────┼─────┤
// │ LF5 │ LF4 │ LF3 │ LF2 │ LF1 │           │ RF1 │ RF2 │ RF3 │ RF4 │ RF5 │
     ___   ___   ___   ___   ___       ,       ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┴─────╯           ╰─────┴─────┼─────┼─────┼─────┤
// │ LH5 │ LH4 │ LH3 │                                   │ RH3 │ RH4 │ RH5 │
     ___   ___   ___                                       ___   ___   ___,
// ├─────┼─────┼─────┤                                   ├─────┼─────┼─────┤
// │ LH2 │ LH1 │ LH0 │                                   │ RH0 │ RH1 │ RH2 │
     ___   ___   ___                                       ___   ___   ___
// ╰─────┴─────┴─────╯                                   ╰─────┴─────┴─────╯
)

////////////////////////////////

#define ___KEYMAP_TEMPLATE

GLV80_LAYER(_template,
// ╭─────┬─────┬─────┬─────┬─────╮           ╭─────┬─────┬─────┬─────┬─────╮
// │ LC5 │ LC4 │ LC3 │ LC2 │ LC1 │           │ LC5 │ LC3 │ LC5 │ LC5 │ LC5 │
     ___   ___   ___   ___   ___               ___   ___   ___   ___   ___
// ├─────┼─────┼─────┼─────┼─────┼─────┬─────┼─────┼─────┼─────┼─────┼─────┤
// │ LN5 │ LN4 │ LN3 │ LN2 │ LN1 │ LN0 │ RN0 │ RN1 │ RN2 │ RN3 │ RN4 │ RN5 │
     ___   ___   ___   ___   ___   ___   ___   ___   ___   ___   ___   ___
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LT5 │ LT4 │ LT3 │ LT2 │ LT1 │ LT0 │ RT0 │ RT1 │ RT2 │ RT3 │ RT4 │ RT5 │
     ___   XXX   XXX   XXX   XXX   XXX   XXX   XXX   XXX   XXX   XXX   ___
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LM5 │ LM4 │ LM3 │ LM2 │ LM1 │ LM0 │ RM0 │ RM1 │ RM2 │ RM3 │ RM4 │ RM5 │
     ___   XXX   XXX   XXX   XXX   XXX   XXX   XXX   XXX   XXX   XXX   ___
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LB5 │ LB4 │ LB3 │ LB2 │ LB1 │ LB0 │ RB0 │ RB1 │ RB2 │ RB3 │ RB4 │ RB5 │
     ___   XXX   XXX   XXX   XXX   XXX , XXX   XXX   XXX   XXX   XXX   ___
// ├─────┼─────┼─────┼─────┼─────┼─────┴─────┼─────┼─────┼─────┼─────┼─────┤
// │ LF5 │ LF4 │ LF3 │ LF2 │ LF1 │           │ RF1 │ RF2 │ RF3 │ RF4 │ RF5 │
     ___   ___   ___   ___   ___       ,       ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┴─────╯           ╰─────┴─────┼─────┼─────┼─────┤
// │ LH5 │ LH4 │ LH3 │                                   │ RH3 │ RH4 │ RH5 │
     ___   ___   ___                                       ___   ___   ___,
// ├─────┼─────┼─────┤                                   ├─────┼─────┼─────┤
// │ LH2 │ LH1 │ LH0 │                                   │ RH0 │ RH1 │ RH2 │
     ___   ___   ___                                       ___   ___   ___
// ╰─────┴─────┴─────╯                                   ╰─────┴─────┴─────╯
)

////////////////////////////////

ZMK_CONDITIONAL_LAYER(FN, NUM, SYS)  // FN + NUM --> SYS

////////////////////////////////////////////////////////////////
////////////////////////////////
////////////////
////////
////
//
/* vim: set ft=c tw=174: */
