//
////
////////
////////////////
////////////////////////////////
////////////////////////////////////////////////////////////////

#include "moergo_includes.h"
#include "moergo_macros.h"

////////////////////////////////////////////////////////////////
// https://zmk.dev/docs/keymaps#multiple-layers

#define __KEYMAP_LAYERS

#define LAYER_BASE        0
#define LAYER_VARIOUS     (LAYER_BASE + 1)
#define LAYER_SYS         (LAYER_VARIOUS + 1)
#define LAYER_NUM         (LAYER_SYS + 1)
#define LAYER_NUMNAV      (LAYER_NUM + 1)
#define LAYER_SYM         (LAYER_NUMNAV + 1)
#define LAYER_FUN         (LAYER_SYM + 1)
#define LAYER_MODFUN      (LAYER_FUN + 1)
#define LAYER_MACROS      (LAYER_MODFUN + 1)
#define LAYER_NAV         (LAYER_MACROS + 1)
#define _LAYER_TEMPLATE   (LAYER_NAV + 1)

////////////////////////////////////////////////////////////////

#define __KEYS

#define XXX             &none
#define ___             &trans
#define NOOP            0

#define KEY_UNDO        LC(Z)
#define KEY_REDO        LC(Y)

#define KEY_CUT         LC(X)
#define KEY_COPY        LC(C)
#define KEY_PASTE       LC(V)

#if MOERGO_OS == MOERGO_OS_WINDOWS_OR_LINUX
#define KEY_MOD_APP_TOGGLE  LALT
#define KEY_APP_TOGGLE      LA(TAB)
#define KEY_APP_QUIT        LA(F4)
#elif MOERGO_OS == MOERGO_OS_MACOS
#define KEY_MOD_APP_TOGGLE  LGUI
#define KEY_APP_TOGGLE      LG(TAB)
#define KEY_APP_QUIT        LG(Q)
#endif

#define KEY_MEH         LA(LC(LSHIFT))
#define KEY_HYPER       LG(KEY_MEH)
#define KEY_META_CTRL   LG(LCTRL)


////////////////////////////////////////////////////////////////
// https://zmk.dev/docs/keymaps/behaviors

#define __BEHAVIORS

// https://zmk.dev/docs/keymaps/behaviors/caps-word
&caps_word {
    /delete-property/ ignore-modifiers; // mods deactivate caps-word, requires PR #1451
};

// https://github.com/urob/zmk-auto-layer/tree/zero-param?tab=readme-ov-file#example-numword
&num_word {
    continue-list = <
        BSPC DEL
        MINUS PLUS
        COMMA
        DOT
    >;
};

// // https://zmk.dev/docs/keymaps/behaviors/sticky-key
// &sk {
//     release-after-ms = <900>;  // release after 0.6s
//     quick-release;             // no double capitalization when rolling keys
// };

// // https://zmk.dev/docs/keymaps/behaviors/sticky-layer
// &sl {
//     ignore-modifiers;          // allow chording sticky mods & layers
// };

// // https://zmk.dev/docs/keymaps/behaviors/layers#layer-tap
// &lt {
//     flavor = "balanced";
//     tapping-term-ms = <200>;
//     quick-tap-ms = <175>;
// };

// // https://zmk.dev/docs/keymaps/behaviors/mod-tap#mod-tap
// &mt {
//     flavor = "tap-preferred";
//     tapping-term-ms = <220>;
//     quick-tap-ms = <220>;
//     hold-trigger-key-positions = <0>;
// };

////////////////////////////////////////////////////////////////
// https://zmk.dev/docs/keymaps/behaviors/hold-tap

#define ____BEHAVIOURS__HOLD_TAP__HRM

#define ZMK_HOLD_TAP_HRM(name, binding_hold, binding_tap, hold_trigger_key_positions) \
    ZMK_HOLD_TAP(name, \
        bindings = <binding_hold>, <binding_tap>; \
        flavor = "balanced"; \
        tapping-term-ms = <MOERGO_HOLD_TAP__TAPPING_TERM_MS>; \
        quick-tap-ms = <MOERGO_HOLD_TAP__QUICK_TAP_MS>; \
        require-prior-idle-ms = <MOERGO_HOLD_TAP__REQUIRE_PRIOR_IDLE_MS>; \
        hold-trigger-key-positions = <hold_trigger_key_positions>; \
        hold-trigger-on-release; \
    )

////////////////

ZMK_HOLD_TAP_HRM(ht_lhrm_kp_kp, &kp, &kp, KEYS_R THUMBS)
ZMK_HOLD_TAP_HRM(ht_rhrm_kp_kp, &kp, &kp, KEYS_L THUMBS)

ZMK_HOLD_TAP_HRM(ht_lhrm_mo_kp, &mo, &kp, KEYS_R THUMBS)
ZMK_HOLD_TAP_HRM(ht_rhrm_mo_kp, &mo, &kp, KEYS_L THUMBS)

////////////////

#define LHRM_KP_KP(key_on_hold, key_on_tap) ht_lhrm_kp_kp key_on_hold key_on_tap
#define RHRM_KP_KP(key_on_hold, key_on_tap) ht_rhrm_kp_kp key_on_hold key_on_tap

////////////////

#define LHRM_MO_KP(layer_on_hold, key_on_tab) ht_lhrm_mo_kp layer_on_hold key_on_tab
#define RHRM_MO_KP(layer_on_hold, key_on_tab) ht_rhrm_mo_kp layer_on_hold key_on_tab

////////////////

#define ZMK_HOLD_TAP_LHRM_KP_MM(mm_on_tap) \
    ZMK_HOLD_TAP_HRM(ht_lhrm_kp_mm_ ## mm_on_tap, &kp, &mm_on_tap, KEYS_R THUMBS)
#define LHRM_KP_MM(key_on_hold, mm_on_tap) \
    ht_lhrm_kp_mm_ ## mm_on_tap key_on_hold NOOP

#define ZMK_HOLD_TAP_RHRM_KP_MM(mm_on_tap) \
    ZMK_HOLD_TAP_HRM(ht_rhrm_kp_mm_ ## mm_on_tap, &kp, &mm_on_tap, KEYS_L THUMBS)
#define RHRM_KP_MM(key_on_hold, mm_on_tap) \
    ht_rhrm_kp_mm_ ## mm_on_tap key_on_hold NOOP

////////////////

#define ZMK_HOLD_TAP_LHRM_MO_MM(mm_on_tap) \
    ZMK_HOLD_TAP_HRM(ht_lhrm_mo_mm_ ## mm_on_tap, &mo, &mm_on_tap, KEYS_R THUMBS)
#define LHRM_MO_MM(layer_on_hold, mm_on_tap) \
    ht_lhrm_mo_mm_ ## mm_on_tap layer_on_hold NOOP

#define ZMK_HOLD_TAP_RHRM_MO_MM(mm_on_tap) \
    ZMK_HOLD_TAP_HRM(ht_rhrm_mo_mm_ ## mm_on_tap, &mo, &mm_on_tap, KEYS_L THUMBS)
#define RHRM_MO_MM(layer_on_hold, mm_on_tap) \
    ht_rhrm_mo_mm_ ## mm_on_tap layer_on_hold NOOP

////////////////

#define ZMK_HOLD_TAP_LHRM_MACRO_KP(macro_on_hold) \
    ZMK_HOLD_TAP_HRM(ht_lhrm_macro_kp_ ## macro_on_hold, &macro_on_hold, &kp, KEYS_R THUMBS)
#define LHRM_MACRO_KP(macro_on_hold, key_on_tap) \
    ht_lhrm_macro_kp_ ## macro_on_hold NOOP key_on_tap

#define ZMK_HOLD_TAP_RHRM_MACRO_KP(macro_on_hold) \
    ZMK_HOLD_TAP_HRM(ht_rhrm_macro_kp_ ## macro_on_hold, &macro_on_hold, &kp, KEYS_L THUMBS)
#define RHRM_MACRO_KP(macro_on_hold, key_on_tap) \
    ht_rhrm_macro_kp_ ## macro_on_hold NOOP key_on_tap

////////////////

#define ZMK_HOLD_TAP_LHRM_MACRO_MM(macro_on_hold, mm_on_tap) \
    ZMK_HOLD_TAP_HRM(ht_lhrm_macro_mm_ ## macro_on_hold ## _ ## mm_on_tap, &macro_on_hold, &mm_on_tap, KEYS_R THUMBS)
#define LHRM_MACRO_MM(macro_on_hold, mm_on_tap, layer_on_hold) \
    ht_lhrm_macro_mm_ ## macro_on_hold ## _ ## mm_on_tap layer_on_hold NOOP

#define ZMK_HOLD_TAP_RHRM_MACRO_MM(macro_on_hold, mm_on_tap) \
    ZMK_HOLD_TAP_HRM(ht_rhrm_macro_mm_ ## macro_on_hold ## _ ## mm_on_tap, &macro_on_hold, &mm_on_tap, KEYS_L THUMBS)
#define RHRM_MACRO_MM(macro_on_hold, mm_on_tap, layer_on_hold) \
    ht_rhrm_macro_mm_ ## macro_on_hold ## _ ## mm_on_tap layer_on_hold NOOP

////////////////

// Generic pattern: hold = layer + fixed modifier, tap = key.
#define ZMK_MACRO_ONE_PARAM_MO_KP(name, mod_on_hold) \
    ZMK_MACRO_ONE_PARAM(name, \
        wait-ms = <0>; \
        tap-ms = <0>; \
        bindings \
            = <&macro_param_1to1> \
            , <&macro_press &mo MACRO_PLACEHOLDER &kp mod_on_hold> \
            , <&macro_pause_for_release> \
            , <&macro_release &kp mod_on_hold> \
            , <&macro_param_1to1> \
            , <&macro_release &mo MACRO_PLACEHOLDER> \
            ; \
    )

#define LHRM_MO_MOD_KP(layer_on_hold, mod_on_hold, key_on_tap) \
    hlmk_ ## mod_on_hold layer_on_hold key_on_tap
#define RHRM_MO_MOD_KP(layer_on_hold, mod_on_hold, key_on_tap) \
    hrmk_ ## mod_on_hold layer_on_hold key_on_tap

#define LHRM_MO_MOD_MM(layer_on_hold, mod_on_hold, mm_on_tap) \
    hlmm_ ## mod_on_hold ## _ ## mm_on_tap layer_on_hold NOOP
#define RHRM_MO_MOD_MM(layer_on_hold, mod_on_hold, mm_on_tap) \
    hrmm_ ## mod_on_hold ## _ ## mm_on_tap layer_on_hold NOOP

////////////////////////////////

// HINT: generate manually
#define ZMK_HOLD_TAP_xHRM_MO_MOD_KP(mod_on_hold) \
    ZMK_MACRO_ONE_PARAM_MO_KP(mmk_ ## mod_on_hold, mod_on_hold) \
    ZMK_HOLD_TAP_HRM(hlmk_ ## mod_on_hold, &mmk_ ## mod_on_hold, &kp, KEYS_R THUMBS) \
    ZMK_HOLD_TAP_HRM(hrmk_ ## mod_on_hold, &mmk_ ## mod_on_hold, &kp, KEYS_L THUMBS)

ZMK_HOLD_TAP_xHRM_MO_MOD_KP(KEY_MEH)

// HINT: generate manually
#define ZMK_HOLD_TAP_xHRM_MO_MOD_MM(mod_on_hold, mm_on_tap) \
    ZMK_HOLD_TAP_HRM(hlmm_ ## mod_on_hold ## _ ## mm_on_tap, &mmk_ ## mod_on_hold, &mm_on_tap, KEYS_R THUMBS) \
    ZMK_HOLD_TAP_HRM(hrmm_ ## mod_on_hold ## _ ## mm_on_tap, &mmk_ ## mod_on_hold, &mm_on_tap, KEYS_L THUMBS)

// HINT: generated automatically (see below)
#define ZMK_HOLD_TAP_xHRM_xx_MM(mm_on_tap) \
    ZMK_HOLD_TAP_LHRM_KP_MM(mm_on_tap) \
    ZMK_HOLD_TAP_RHRM_KP_MM(mm_on_tap) \
    ZMK_HOLD_TAP_LHRM_MO_MM(mm_on_tap) \
    ZMK_HOLD_TAP_RHRM_MO_MM(mm_on_tap)


////////////////////////////////////////////////////////////////
// https://zmk.dev/docs/keymaps/behaviors/macros

#define ____BEHAVIOURS__MACRO

////////////////////////////////

ZMK_MACRO(macro_reset_keyboard_and_switch_to_base_layer,
    wait-ms = <0>;
    tap-ms = <5>;
    bindings = <&kp K_CANCEL>, <&to LAYER_BASE>; // reset keyboard and switch to base layer
)

ZMK_HOLD_TAP(ht__reset_keyboard_and_go_to_base_layer__kp,
    flavor = "balanced";
    tapping-term-ms = <MOERGO_HOLD_TAP__TAPPING_TERM_MS>;
    quick-tap-ms = <MOERGO_HOLD_TAP__QUICK_TAP_MS>;
    bindings = <&macro_reset_keyboard_and_switch_to_base_layer>, <&kp>;
)

////////////////

ZMK_MACRO(macro_browser_new_search_tab,
    bindings
        = <&kp LC(T)> // new tab
        , <&kp LC(K)> // focus address bar
        , <&kp KEY_PASTE> // paste
        ;
)

////////////////

ZMK_MACRO(macro_copy_and_toggle_app_and_paste,
    bindings
        = <&kp LC(L)> // focus address bar of source app
        , <&kp KEY_COPY> // copy
        , <&kp KEY_APP_TOGGLE> // toggle to target app (that has file dialog open)
        , <&kp HOME>  // (optional) go to beginning of line
        , <&kp KEY_PASTE> // paste
        ;
)

////////////////

ZMK_MACRO(macro_std_cpp,
    bindings
        = <&kp S &kp T &kp D &kp COLON &kp COLON> // std::
        ;
)


////////////////////////////////////////////////////////////////
// https://zmk.dev/docs/keymaps/behaviors/mod-morph

#define ____BEHAVIOURS__MOD_MORPH

////////////////////////////////

// tap: backspace | lshft + tap: delete | rshft + tap: rshift + delete
ZMK_MOD_MORPH(mm_bspc_del,
    bindings = <&kp BSPC>, <&kp DEL>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    keep-mods = <MOD_RSFT>;
)
ZMK_HOLD_TAP_xHRM_xx_MM(mm_bspc_del)

////////////////////////////////

#define ZMK_MOD_MORPH_SIMPLE(name, mod, binding1, binding2) \
    ZMK_MOD_MORPH(name, \
        mods = <(MOD_L ## mod | MOD_R ## mod)>; \
        bindings = <binding1>, <binding2>; \
    ) \
    ZMK_HOLD_TAP_xHRM_xx_MM(name)


ZMK_MOD_MORPH_SIMPLE(mm_add_sub, SFT, &kp PLUS, &kp MINUS)
ZMK_MOD_MORPH_SIMPLE(mm_and_or, SFT, &kp AMPERSAND, &kp PIPE)
ZMK_MOD_MORPH_SIMPLE(mm_brackets, SFT, &kp LEFT_BRACKET, &kp RIGHT_BRACKET)
ZMK_MOD_MORPH_SIMPLE(mm_braces, SFT, &kp LEFT_BRACE, &kp RIGHT_BRACE)
ZMK_MOD_MORPH_SIMPLE(mm_caret_underscore, SFT, &kp CARET, &kp UNDERSCORE)
ZMK_MOD_MORPH_SIMPLE(mm_comma_semicolon, SFT, &kp COMMA, &kp SEMICOLON)
ZMK_MOD_MORPH_SIMPLE(mm_comma_singlequote, SFT, &kp COMMA, &kp SINGLE_QUOTE)
ZMK_MOD_MORPH_SIMPLE(mm_doublequotes_singlequote, SFT, &kp DOUBLE_QUOTES, &kp SINGLE_QUOTE)
ZMK_MOD_MORPH_SIMPLE(mm_dot_colon, SFT, &kp DOT, &kp COLON)
ZMK_MOD_MORPH_SIMPLE(mm_dot_doublequotes, SFT, &kp DOT, &kp DOUBLE_QUOTES)
ZMK_MOD_MORPH_SIMPLE(mm_enter_escape, SFT, &kp ENTER, &kp ESCAPE)
ZMK_MOD_MORPH_SIMPLE(mm_equal_equal, SFT, &kp EQUAL, &kp EQUAL)
ZMK_MOD_MORPH_SIMPLE(mm_excl_qmark, SFT, &kp EXCLAMATION, &kp QMARK)
ZMK_MOD_MORPH_SIMPLE(mm_grave_caret, SFT, &kp GRAVE, &kp CARET)
ZMK_MOD_MORPH_SIMPLE(mm_lt_gt, SFT, &kp LESS_THAN, &kp GREATER_THAN)
ZMK_MOD_MORPH_SIMPLE(mm_minus_plus, SFT, &kp MINUS, &kp PLUS)
ZMK_MOD_MORPH_SIMPLE(mm_mul_div, SFT, &kp ASTERISK, &kp SLASH)
ZMK_MOD_MORPH_SIMPLE(mm_parenthesis, SFT, &kp LEFT_PARENTHESIS, &kp RIGHT_PARENTHESIS)
ZMK_MOD_MORPH_SIMPLE(mm_pointer_reference, SFT, &kp ASTERISK, &kp AMPERSAND)
ZMK_MOD_MORPH_SIMPLE(mm_semicolon_semicolon, SFT, &kp SEMICOLON, &kp SEMICOLON)
ZMK_MOD_MORPH_SIMPLE(mm_slash_backslash, SFT, &kp SLASH, &kp BACKSLASH)
ZMK_MOD_MORPH_SIMPLE(mm_underscore_equal, SFT, &kp UNDERSCORE, &kp EQUAL)
ZMK_MOD_MORPH_SIMPLE(mm_underscore_minus, SFT, &kp UNDERSCORE, &kp MINUS)

ZMK_MOD_MORPH_SIMPLE(mm_keypad_add_sub, SFT, &kp KP_PLUS, &kp KP_MINUS)
ZMK_MOD_MORPH_SIMPLE(mm_keypad_dot_comma, SFT, &kp KP_DOT, &kp KP_COMMA)
ZMK_MOD_MORPH_SIMPLE(mm_keypad_mul_div, SFT, &kp KP_ASTERISK, &kp KP_SLASH)
ZMK_MOD_MORPH_SIMPLE(mm_keypad_parenthesis, SFT, &kp KP_LEFT_PARENTHESIS, &kp KP_RIGHT_PARENTHESIS)


////////////////////////////////////////////////////////////////
// https://zmk.dev/docs/config/combos

#define ____BEHAVIOURS__COMBO

////////////////

#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

////////////////

// ZMK_COMBO(combo_lm4_rm4, &to LAYER_SYS, LM4 RM4, ALL, COMBO_TERM_FAST, COMBO_IDLE_FAST)  // switch to system layer


////////////////////////////////////////////////////////////////

#define ____BEHAVIOURS__TRI_STATE

/*
https://github.com/dhruvinsh/zmk-tri-state:
- Pressing tri-state will fire the first behavior, and output A, as well as the second behavior, outputting B.
- Subsequent presses of tri-state will output B.
- When another key is pressed or a layer change occurs, the third, 'interrupt' behavior C will fire.

In this definition:
- A is pressing and holding KEY_MOD_APP_TOGGLE (by toggling it ON),
- B is pressing Tab, and
- C is releasing KEY_MOD_APP_TOGGLE (by toggling it OFF).
*/
#define ZMK_TRI_STATE__APP_SWITCH(name, ...)          \
    ZMK_TRI_STATE(                                    \
        name,                                         \
        bindings = <&kt KEY_MOD_APP_TOGGLE>, <&kp TAB>, <&kt KEY_MOD_APP_TOGGLE>; \
        __VA_ARGS__ \
    )

ZMK_TRI_STATE__APP_SWITCH(
    tri__app_switch__base_layer,
#if MOERGO_DEVICE == MOERGO_DEVICE_GLOVE80
    ignored-key-positions =
    <
        LF5 LF4 LF3 LF1 LH1 LH0
    >;
#endif
)

ZMK_TRI_STATE__APP_SWITCH(
    tri__app_switch__nav_layer,
    ignored-key-positions =
    <
        RT1 RT2 RT3
        RM1 RM2 RM3
        RB1     RB3
    >;
)

////////////////////////////////////////////////////////////////

#define __KEYMAP

#define ____KEYMAP_LAYER_BASE

MOERGO_LAYER(layer_base,
// ╭─────┬─────┬─────┬─────┬─────╮           ╭─────┬─────┬─────┬─────┬─────╮
// │ LC5 │ LC4 │ LC3 │ LC2 │ LC1 │           │ RC1 │ RC2 │ RC3 │ RC4 │ RC5 │
#define KEYS_LAYER_BASE_LC \
    &kp KEY_APP_QUIT \
    &kp LC(F4) \
    &kp LC(LS(TAB)) \
    &tri__app_switch__base_layer \
    &kp LC(TAB)
    KEYS_LAYER_BASE_LC
    ,
    XXX
    &macro_std_cpp
    XXX
    XXX
    XXX
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┬─────┼─────┼─────┼─────┼─────┼─────┤
// │ LN5 │ LN4 │ LN3 │ LN2 │ LN1 │ LN0 │ RN0 │ RN1 │ RN2 │ RN3 │ RN4 │ RN5 │
    &kp ESCAPE

    &kp DEL
    &kp LC(PAGE_UP)
    &kp KEY_APP_TOGGLE
    &kp LC(PAGE_DOWN)
    &kp KEY_UNDO
    ,
    &kp KEY_REDO
    &kp LA(LEFT_ARROW)
    &kp LC(SPACE)
    &kp LA(RIGHT_ARROW)
    &kp BSPC

    &kp ENTER
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LT5 │ LT4 │ LT3 │ LT2 │ LT1 │ LT0 │ RT0 │ RT1 │ RT2 │ RT3 │ RT4 │ RT5 │
    &kp TAB

    &kp Q
    &LHRM_KP_KP(LEFT_META, W)
    &LHRM_MO_KP(LAYER_NUM, E)
    &LHRM_MO_KP(LAYER_SYM, R)
    &kp F
    ,
    &kp Y
    &RHRM_MO_KP(LAYER_SYM, U)
    &RHRM_MO_KP(LAYER_NUMNAV, I)
    &RHRM_KP_KP(LEFT_META, O)
    &kp SINGLE_QUOTE

    &kp LS(TAB)
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LM5 │ LM4 │ LM3 │ LM2 │ LM1 │ LM0 │ RM0 │ RM1 │ RM2 │ RM3 │ RM4 │ RM5 │
    &kp ENTER

    &LHRM_KP_KP(LALT, A)
    &LHRM_KP_KP(LCTL, S)
    &LHRM_MO_KP(LAYER_SYM, D)
    &LHRM_KP_KP(LSFT, T)
    &LHRM_KP_KP(KEY_MEH, G)
    ,
    &RHRM_KP_KP(KEY_MEH, K)
    &RHRM_KP_KP(LSFT, N)
    &RHRM_MO_KP(LAYER_SYM, H)
    &RHRM_KP_KP(LCTL, L)
    &RHRM_KP_KP(LALT, P)

    &ht__reset_keyboard_and_go_to_base_layer__kp NOOP ESCAPE
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LB5 │ LB4 │ LB3 │ LB2 │ LB1 │ LB0 │ RB0 │ RB1 │ RB2 │ RB3 │ RB4 │ RB5 │
    &caps_word

    &LHRM_KP_KP(RIGHT_ALT, Z)
    &LHRM_KP_KP(KEY_META_CTRL, X)
    &kp C
    &kp V
    &LHRM_KP_KP(KEY_HYPER, B)
    ,
    &RHRM_KP_KP(KEY_HYPER, J)
    &kp M
    &mm_comma_semicolon
    &RHRM_KP_MM(KEY_META_CTRL, mm_dot_colon)
    &RHRM_KP_MM(RIGHT_ALT, mm_excl_qmark)

    &caps_word
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┴─────┼─────┼─────┼─────┼─────┼─────┤
// │ LF5 │ LF4 │ LF3 │ LF2 │ LF1 │           │ RF1 │ RF2 │ RF3 │ RF4 │ RF5 │
    &kp HOME
    &kp PAGE_UP
    ,
    &kp LEFT_ARROW
    &kp DELETE
    &kp RIGHT_ARROW
    ,
    XXX
    XXX
    XXX
    ,
    XXX
    XXX
    ,
// ├─────┼─────┼─────┼─────┴─────╯           ╰─────┴─────┼─────┼─────┼─────┤
// │ LH5 │ LH4 │ LH3 │                                   │ RH3 │ RH4 │ RH5 │
    &LHRM_MO_MM(LAYER_NAV, mm_bspc_del)
    &RHRM_KP_MM(LEFT_CONTROL, mm_minus_plus) // RHRM since modifier is used in "mouse mode" with keys on left-hand side
    ,
    &kp PRINTSCREEN
    ,
    XXX
    ,
    &RHRM_MO_MM(LAYER_MACROS, mm_underscore_equal)
    &RHRM_MO_KP(LAYER_FUN, SPACE)
    ,
// ├─────┼─────┼─────┤                                   ├─────┼─────┼─────┤
// │ LH2 │ LH1 │ LH0 │                                   │ RH0 │ RH1 │ RH2 │
    &LHRM_MO_MM(LAYER_VARIOUS, mm_slash_backslash)
    ,
    &kp PAGE_DOWN
    &kp END
    ,
    XXX
    XXX
    ,
    &RHRM_MO_MOD_KP(LAYER_MODFUN, KEY_MEH, TAB)
// ╰─────┴─────┴─────╯                                   ╰─────┴─────┴─────╯
)

////////////////////////////////////////////////////////////////

#define ____KEYMAP_LAYER_VARIOUS

MOERGO_LAYER(layer_various,
// ╭─────┬─────┬─────┬─────┬─────╮           ╭─────┬─────┬─────┬─────┬─────╮
// │ LC5 │ LC4 │ LC3 │ LC2 │ LC1 │           │ RC1 │ RC2 │ RC3 │ RC4 │ RC5 │
     ___   ___   ___   ___   ___       ,       ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┼─────┼─────┬─────┼─────┼─────┼─────┼─────┼─────┤
// │ LN5 │ LN4 │ LN3 │ LN2 │ LN1 │ LN0 │ RN0 │ RN1 │ RN2 │ RN3 │ RN4 │ RN5 │
    ___   ___   ___   ___   ___   ___
    ,
    ___   ___   ___   ___   ___   &to LAYER_SYS
    ,

// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LT5 │ LT4 │ LT3 │ LT2 │ LT1 │ LT0 │ RT0 │ RT1 │ RT2 │ RT3 │ RT4 │ RT5 │
    ___

    XXX
    XXX
    &kp C_PREVIOUS
    &kp C_VOLUME_UP
    &kp C_BRIGHTNESS_INC
    ,
    XXX
    XXX
    XXX
    XXX
    XXX

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LM5 │ LM4 │ LM3 │ LM2 │ LM1 │ LM0 │ RM0 │ RM1 │ RM2 │ RM3 │ RM4 │ RM5 │
    ___

    XXX
    XXX
    &kp C_PLAY_PAUSE
    &kp C_MUTE
    XXX
    ,
    XXX
    XXX
    XXX
    XXX
    XXX

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LB5 │ LB4 │ LB3 │ LB2 │ LB1 │ LB0 │ RB0 │ RB1 │ RB2 │ RB3 │ RB4 │ RB5 │
    &kp PRINTSCREEN

    XXX
    XXX
    &kp C_NEXT
    &kp C_VOLUME_DOWN
    &kp C_BRIGHTNESS_DEC
    ,
    XXX
    XXX
    XXX
    XXX
    XXX

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┴─────┼─────┼─────┼─────┼─────┼─────┤
// │ LF5 │ LF4 │ LF3 │ LF2 │ LF1 │           │ RF1 │ RF2 │ RF3 │ RF4 │ RF5 │
     ___   ___ , ___   ___   ___       ,       ___   ___   ___ , ___   ___,
// ├─────┼─────┼─────┼─────┴─────╯           ╰─────┴─────┼─────┼─────┼─────┤
// │ LH5 │ LH4 │ LH3 │                                   │ RH3 │ RH4 │ RH5 │
     ___   ___ , ___                   ,                   ___ , ___   ___,
// ├─────┼─────┼─────┤                                   ├─────┼─────┼─────┤
// │ LH2 │ LH1 │ LH0 │                                   │ RH0 │ RH1 │ RH2 │
     ___ , ___   ___                   ,                   ___   ___ , ___
// ╰─────┴─────┴─────╯                                   ╰─────┴─────┴─────╯
)


////////////////////////////////////////////////////////////////

#define ____KEYMAP_LAYER_SYS

MOERGO_LAYER(layer_sys,
// ╭─────┬─────┬─────┬─────┬─────╮           ╭─────┬─────┬─────┬─────┬─────╮
// │ LC5 │ LC4 │ LC3 │ LC2 │ LC1 │           │ RC1 │ RC2 │ RC3 │ RC4 │ RC5 │
     ___   ___   ___   ___   ___       ,       ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┼─────┼─────┬─────┼─────┼─────┼─────┼─────┼─────┤
// │ LN5 │ LN4 │ LN3 │ LN2 │ LN1 │ LN0 │ RN0 │ RN1 │ RN2 │ RN3 │ RN4 │ RN5 │
     ___   ___   ___   ___   ___   ___ , ___   ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LT5 │ LT4 │ LT3 │ LT2 │ LT1 │ LT0 │ RT0 │ RT1 │ RT2 │ RT3 │ RT4 │ RT5 │
    ___

    &rgb_ug RGB_ON
    &rgb_ug RGB_COLOR_HSB(0,100,100) // red
    &rgb_ug RGB_EFF // effect forward
    &rgb_ug RGB_SPI // speed increase
    &out OUT_BLE // switch to BLE
    ,
    &bt BT_CLR // clear current BT device
    &bt BT_PRV // switch to previous BT device
    XXX
    XXX
    &bt BT_NXT // switch to next BT device

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LM5 │ LM4 │ LM3 │ LM2 │ LM1 │ LM0 │ RM0 │ RM1 │ RM2 │ RM3 │ RM4 │ RM5 │
    ___

    &rgb_ug RGB_TOG
    &rgb_ug RGB_COLOR_HSB(120,100,100) // green
    &rgb_ug RGB_STATUS
    XXX
    &out OUT_TOG  // toggle USB/BLE
    ,
    XXX
    &bt BT_SEL 0 // select BT device N
    &bt BT_SEL 1
    &bt BT_SEL 2
    &bt BT_SEL 3

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LB5 │ LB4 │ LB3 │ LB2 │ LB1 │ LB0 │ RB0 │ RB1 │ RB2 │ RB3 │ RB4 │ RB5 │
    ___

    &rgb_ug RGB_OFF
    &rgb_ug RGB_COLOR_HSB(240,100,100) // blue
    &rgb_ug RGB_EFR // effect reverse
    &rgb_ug RGB_SPD // speed decrease
    &out OUT_USB  // switch to USB
    ,
    &bt BT_CLR_ALL // clear all paired BT devices
    &bt BT_DISC 0  // disconnect BT device N
    &bt BT_DISC 1
    &bt BT_DISC 2
    &bt BT_DISC 3

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┴─────┼─────┼─────┼─────┼─────┼─────┤
// │ LF5 │ LF4 │ LF3 │ LF2 │ LF1 │           │ RF1 │ RF2 │ RF3 │ RF4 │ RF5 │
     ___   ___ , ___   ___   ___       ,       ___   ___   ___ , ___   ___,
// ├─────┼─────┼─────┼─────┴─────╯           ╰─────┴─────┼─────┼─────┼─────┤
// │ LH5 │ LH4 │ LH3 │                                   │ RH3 │ RH4 │ RH5 │
     ___   ___ , ___                   ,                   ___ , ___   ___,
// ├─────┼─────┼─────┤                                   ├─────┼─────┼─────┤
// │ LH2 │ LH1 │ LH0 │                                   │ RH0 │ RH1 │ RH2 │
     ___ , ___   ___                   ,                   ___   ___ , ___
// ╰─────┴─────┴─────╯                                   ╰─────┴─────┴─────╯
)

////////////////////////////////////////////////////////////////

/*

#define ____KEYMAP_LAYER_FACTORY

KEYMAP_LAYER_FACTORY

*/

////////////////////////////////////////////////////////////////

/*

#define ____KEYMAP_LAYER_MAGIC

KEYMAP_LAYER_MAGIC

*/

////////////////////////////////////////////////////////////////

#define ____KEYMAP_LAYER_NUM

MOERGO_LAYER(layer_num,
// ╭─────┬─────┬─────┬─────┬─────╮           ╭─────┬─────┬─────┬─────┬─────╮
// │ LC5 │ LC4 │ LC3 │ LC2 │ LC1 │           │ RC1 │ RC2 │ RC3 │ RC4 │ RC5 │
     ___   ___   ___   ___   ___       ,       ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┼─────┼─────┬─────┼─────┼─────┼─────┼─────┼─────┤
// │ LN5 │ LN4 │ LN3 │ LN2 │ LN1 │ LN0 │ RN0 │ RN1 │ RN2 │ RN3 │ RN4 │ RN5 │
     ___   ___   ___   ___   ___   ___ , ___   ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LT5 │ LT4 │ LT3 │ LT2 │ LT1 │ LT0 │ RT0 │ RT1 │ RT2 │ RT3 │ RT4 │ RT5 │
	___

    XXX
    XXX
    XXX /* LAYER -> THIS */
    &mo LAYER_SYM
    &kp LEFT_SHIFT
    ,
    &kp STAR
    &kp N7
    &kp N8
    &kp N9
    &kp PLUS

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LM5 │ LM4 │ LM3 │ LM2 │ LM1 │ LM0 │ RM0 │ RM1 │ RM2 │ RM3 │ RM4 │ RM5 │
    ___

    &kp SEMICOLON
    &kp COMMA
    XXX
    &kp DOT
    &kp COLON
    ,
    &kp EQUAL
    &kp N4
    &kp N5
    &kp N6
    &kp N0

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LB5 │ LB4 │ LB3 │ LB2 │ LB1 │ LB0 │ RB0 │ RB1 │ RB2 │ RB3 │ RB4 │ RB5 │
    ___

    XXX
    XXX
    XXX
    XXX
    XXX
    ,
    &kp SLASH
    &kp N1
    &kp N2
    &kp N3
    &kp MINUS

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┴─────┼─────┼─────┼─────┼─────┼─────┤
// │ LF5 │ LF4 │ LF3 │ LF2 │ LF1 │           │ RF1 │ RF2 │ RF3 │ RF4 │ RF5 │
    ___
    ___
    ,
    ___
    ___
    ___
    ,
    &mm_comma_semicolon
    &kp N0
    &mm_dot_colon
    ,
    ___
    ___
    ,
// ├─────┼─────┼─────┼─────┴─────╯           ╰─────┴─────┼─────┼─────┼─────┤
// │ LH5 │ LH4 │ LH3 │                                   │ RH3 │ RH4 │ RH5 │
     ___   ___ , ___                   ,                   ___ , ___   ___,
// ├─────┼─────┼─────┤                                   ├─────┼─────┼─────┤
// │ LH2 │ LH1 │ LH0 │                                   │ RH0 │ RH1 │ RH2 │
     ___ , ___   ___                   ,                   ___   ___ , ___
// ╰─────┴─────┴─────╯                                   ╰─────┴─────┴─────╯
)


////////////////////////////////////////////////////////////////

#define ____KEYMAP_LAYER_NUMNAV

MOERGO_LAYER(layer_numnav,
// ╭─────┬─────┬─────┬─────┬─────╮           ╭─────┬─────┬─────┬─────┬─────╮
// │ LC5 │ LC4 │ LC3 │ LC2 │ LC1 │           │ RC1 │ RC2 │ RC3 │ RC4 │ RC5 │
     ___   ___   ___   ___   ___       ,       ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┼─────┼─────┬─────┼─────┼─────┼─────┼─────┼─────┤
// │ LN5 │ LN4 │ LN3 │ LN2 │ LN1 │ LN0 │ RN0 │ RN1 │ RN2 │ RN3 │ RN4 │ RN5 │
     ___   ___   ___   ___   ___   ___ , ___   ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LT5 │ LT4 │ LT3 │ LT2 │ LT1 │ LT0 │ RT0 │ RT1 │ RT2 │ RT3 │ RT4 │ RT5 │
    ___

    &kp KP_PLUS
    &kp KP_N7
    &kp KP_N8
    &kp KP_N9
    &kp KP_ASTERISK
    ,
    XXX
    &mo LAYER_SYM
    XXX /* LAYER -> THIS */
    XXX
    XXX

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LM5 │ LM4 │ LM3 │ LM2 │ LM1 │ LM0 │ RM0 │ RM1 │ RM2 │ RM3 │ RM4 │ RM5 │
    ___

    &kp KP_N0
    &kp KP_N4
    &kp KP_N5
    &kp KP_N6
    &kp KP_EQUAL
    ,
    XXX
    &kp KP_DOT
    XXX
    &kp KP_COMMA
    XXX

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LB5 │ LB4 │ LB3 │ LB2 │ LB1 │ LB0 │ RB0 │ RB1 │ RB2 │ RB3 │ RB4 │ RB5 │
    ___

    &kp KP_MINUS
    &kp KP_N1
    &kp KP_N2
    &kp KP_N3
    &kp KP_SLASH
    ,
    XXX
    XXX
    XXX
    XXX
    XXX

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┴─────┼─────┼─────┼─────┼─────┼─────┤
// │ LF5 │ LF4 │ LF3 │ LF2 │ LF1 │           │ RF1 │ RF2 │ RF3 │ RF4 │ RF5 │
     ___   ___ , ___   ___   ___       ,       ___   ___   ___ , ___   ___,
// ├─────┼─────┼─────┼─────┴─────╯           ╰─────┴─────┼─────┼─────┼─────┤
// │ LH5 │ LH4 │ LH3 │                                   │ RH3 │ RH4 │ RH5 │
     ___   ___ , ___                   ,                   ___ , ___   ___,
// ├─────┼─────┼─────┤                                   ├─────┼─────┼─────┤
// │ LH2 │ LH1 │ LH0 │                                   │ RH0 │ RH1 │ RH2 │
     ___ , ___   ___                   ,                   ___   ___ , ___
// ╰─────┴─────┴─────╯                                   ╰─────┴─────┴─────╯
)

////////////////////////////////////////////////////////////////

#define ____KEYMAP_LAYER_SYM

MOERGO_LAYER(layer_sym,
// ╭─────┬─────┬─────┬─────┬─────╮           ╭─────┬─────┬─────┬─────┬─────╮
// │ LC5 │ LC4 │ LC3 │ LC2 │ LC1 │           │ RC1 │ RC2 │ RC3 │ RC4 │ RC5 │
     ___   ___   ___   ___   ___       ,       ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┼─────┼─────┬─────┼─────┼─────┼─────┼─────┼─────┤
// │ LN5 │ LN4 │ LN3 │ LN2 │ LN1 │ LN0 │ RN0 │ RN1 │ RN2 │ RN3 │ RN4 │ RN5 │
     ___   ___   ___   ___   ___   ___ , ___   ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LT5 │ LT4 │ LT3 │ LT2 │ LT1 │ LT0 │ RT0 │ RT1 │ RT2 │ RT3 │ RT4 │ RT5 │
    ___

    &kp AT_SIGN
    &kp AMPERSAND
    &kp PLUS
    &kp ASTERISK
    &kp BACKSLASH
    ,
    &kp SINGLE_QUOTE
    &kp LEFT_BRACE
    &kp HASH
    &kp RIGHT_BRACE
    &mm_doublequotes_singlequote

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LM5 │ LM4 │ LM3 │ LM2 │ LM1 │ LM0 │ RM0 │ RM1 │ RM2 │ RM3 │ RM4 │ RM5 │
    ___

    &mm_grave_caret
    &kp LESS_THAN
    &mm_equal_equal
    &LHRM_KP_KP(LSFT, GREATER_THAN)
    &kp CARET
    ,
    &kp COLON
    &RHRM_KP_KP(LSFT, LEFT_PARENTHESIS)
    &kp DOLLAR
    &kp RIGHT_PARENTHESIS
    &kp SEMICOLON

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LB5 │ LB4 │ LB3 │ LB2 │ LB1 │ LB0 │ RB0 │ RB1 │ RB2 │ RB3 │ RB4 │ RB5 │
    ___

    &kp TILDE
    &kp PIPE
    &kp MINUS
    &mm_slash_backslash
    &kp UNDERSCORE
    ,
    &kp QUESTION
    &kp LEFT_BRACKET
    &kp PERCENT
    &kp RIGHT_BRACKET
    &mm_excl_qmark

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┴─────┼─────┼─────┼─────┼─────┼─────┤
// │ LF5 │ LF4 │ LF3 │ LF2 │ LF1 │           │ RF1 │ RF2 │ RF3 │ RF4 │ RF5 │
     ___   ___ , ___   ___   ___       ,       ___   ___   ___ , ___   ___,
// ├─────┼─────┼─────┼─────┴─────╯           ╰─────┴─────┼─────┼─────┼─────┤
// │ LH5 │ LH4 │ LH3 │                                   │ RH3 │ RH4 │ RH5 │
     ___   ___ , ___                   ,                   ___ , ___   ___,
// ├─────┼─────┼─────┤                                   ├─────┼─────┼─────┤
// │ LH2 │ LH1 │ LH0 │                                   │ RH0 │ RH1 │ RH2 │
     ___ , ___   ___                   ,                   ___   ___ , ___
// ╰─────┴─────┴─────╯                                   ╰─────┴─────┴─────╯
)


////////////////////////////////////////////////////////////////

#define ____KEYMAP_LAYER_FUN

MOERGO_LAYER(layer_fun,
// ╭─────┬─────┬─────┬─────┬─────╮           ╭─────┬─────┬─────┬─────┬─────╮
// │ LC5 │ LC4 │ LC3 │ LC2 │ LC1 │           │ RC1 │ RC2 │ RC3 │ RC4 │ RC5 │
     ___   ___   ___   ___   ___       ,       ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┼─────┼─────┬─────┼─────┼─────┼─────┼─────┼─────┤
// │ LN5 │ LN4 │ LN3 │ LN2 │ LN1 │ LN0 │ RN0 │ RN1 │ RN2 │ RN3 │ RN4 │ RN5 │
     ___   ___   ___   ___   ___   ___ , ___   ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LT5 │ LT4 │ LT3 │ LT2 │ LT1 │ LT0 │ RT0 │ RT1 │ RT2 │ RT3 │ RT4 │ RT5 │
    ___

    &kp F1
    &kp F4
    &kp F7
    &kp F10
    &kp INSERT
    ,
    &kp KP_NUMLOCK
    &kp F13
    &kp F16
    &kp F19
    &kp F22

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LM5 │ LM4 │ LM3 │ LM2 │ LM1 │ LM0 │ RM0 │ RM1 │ RM2 │ RM3 │ RM4 │ RM5 │
    ___

    &kp F2
    &kp F5
    &kp F8
    &kp F11
    &kp PRINTSCREEN
    ,
    &kp CAPSLOCK
    &kp F14
    &kp F17
    &kp F20
    &kp F23

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LB5 │ LB4 │ LB3 │ LB2 │ LB1 │ LB0 │ RB0 │ RB1 │ RB2 │ RB3 │ RB4 │ RB5 │
    &kp PRINTSCREEN

    &kp F3
    &kp F6
    &kp F9
    &kp F12
    &kp PAUSE_BREAK
    ,
    &kp SCROLLLOCK
    &kp F15
    &kp F16
    &kp F21
    &kp F24

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┴─────┼─────┼─────┼─────┼─────┼─────┤
// │ LF5 │ LF4 │ LF3 │ LF2 │ LF1 │           │ RF1 │ RF2 │ RF3 │ RF4 │ RF5 │
     ___   ___ , ___   ___   ___       ,       ___   ___   ___ , ___   ___,
// ├─────┼─────┼─────┼─────┴─────╯           ╰─────┴─────┼─────┼─────┼─────┤
// │ LH5 │ LH4 │ LH3 │                                   │ RH3 │ RH4 │ RH5 │
     ___   ___ , ___                   ,                   ___ , ___   ___,
// ├─────┼─────┼─────┤                                   ├─────┼─────┼─────┤
// │ LH2 │ LH1 │ LH0 │                                   │ RH0 │ RH1 │ RH2 │
     ___ , ___   ___                   ,                   ___   ___ , ___
// ╰─────┴─────┴─────╯                                   ╰─────┴─────┴─────╯
)


////////////////////////////////////////////////////////////////

#define ____KEYMAP_LAYER_MODFUN

MOERGO_LAYER(layer_modfun,
// ╭─────┬─────┬─────┬─────┬─────╮           ╭─────┬─────┬─────┬─────┬─────╮
// │ LC5 │ LC4 │ LC3 │ LC2 │ LC1 │           │ RC1 │ RC2 │ RC3 │ RC4 │ RC5 │
     ___   ___   ___   ___   ___       ,       ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┼─────┼─────┬─────┼─────┼─────┼─────┼─────┼─────┤
// │ LN5 │ LN4 │ LN3 │ LN2 │ LN1 │ LN0 │ RN0 │ RN1 │ RN2 │ RN3 │ RN4 │ RN5 │
    &kp F1
    &kp F2
    &kp F3
    &kp F4
    &kp F5
    &kp F6
    ,
    &kp F7
    &kp F8
    &kp F9
    &kp F10
    &kp F11
    &kp F12
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LT5 │ LT4 │ LT3 │ LT2 │ LT1 │ LT0 │ RT0 │ RT1 │ RT2 │ RT3 │ RT4 │ RT5 │
    &kp F13

    ___
    ___
    ___
    ___
    ___
    ,
    ___
    ___
    ___
    ___
    ___

    &kp F24
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LM5 │ LM4 │ LM3 │ LM2 │ LM1 │ LM0 │ RM0 │ RM1 │ RM2 │ RM3 │ RM4 │ RM5 │
    &kp F14

    ___
    ___
    ___
    ___
    ___
    ,
    ___
    ___
    ___
    ___
    ___

    &kp F23
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LB5 │ LB4 │ LB3 │ LB2 │ LB1 │ LB0 │ RB0 │ RB1 │ RB2 │ RB3 │ RB4 │ RB5 │
    &kp F15

    ___
    ___
    ___
    ___
    ___
    ,
    ___
    ___
    ___
    ___
    ___

    &kp F22
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┴─────┼─────┼─────┼─────┼─────┼─────┤
// │ LF5 │ LF4 │ LF3 │ LF2 │ LF1 │           │ RF1 │ RF2 │ RF3 │ RF4 │ RF5 │
     ___
     ___ ,
     &kp F16
     &kp F17
     &kp F18
     ,
     &kp F19
     &kp F20
     &kp F21
     ,
     ___
     ___,
// ├─────┼─────┼─────┼─────┴─────╯           ╰─────┴─────┼─────┼─────┼─────┤
// │ LH5 │ LH4 │ LH3 │                                   │ RH3 │ RH4 │ RH5 │
     ___   ___ , ___                   ,                   ___ , ___   ___,
// ├─────┼─────┼─────┤                                   ├─────┼─────┼─────┤
// │ LH2 │ LH1 │ LH0 │                                   │ RH0 │ RH1 │ RH2 │
     ___ , ___   ___                   ,                   ___   ___ , ___
// ╰─────┴─────┴─────╯                                   ╰─────┴─────┴─────╯
)


////////////////////////////////////////////////////////////////

#define ____KEYMAP_LAYER_MACROS

MOERGO_LAYER(layer_macros,
// ╭─────┬─────┬─────┬─────┬─────╮           ╭─────┬─────┬─────┬─────┬─────╮
// │ LC5 │ LC4 │ LC3 │ LC2 │ LC1 │           │ RC1 │ RC2 │ RC3 │ RC4 │ RC5 │
     ___   ___   ___   ___   ___       ,       ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┼─────┼─────┬─────┼─────┼─────┼─────┼─────┼─────┤
// │ LN5 │ LN4 │ LN3 │ LN2 │ LN1 │ LN0 │ RN0 │ RN1 │ RN2 │ RN3 │ RN4 │ RN5 │
     ___   ___   ___   ___   ___   ___ , ___   ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LT5 │ LT4 │ LT3 │ LT2 │ LT1 │ LT0 │ RT0 │ RT1 │ RT2 │ RT3 │ RT4 │ RT5 │
    ___

    XXX
    XXX
    XXX
    XXX
    XXX
    ,
    XXX
    XXX
    XXX
    XXX
    XXX

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LM5 │ LM4 │ LM3 │ LM2 │ LM1 │ LM0 │ RM0 │ RM1 │ RM2 │ RM3 │ RM4 │ RM5 │
    ___

    XXX
    &macro_copy_and_toggle_app_and_paste
    XXX
    &macro_browser_new_search_tab
    XXX
    ,
    XXX
    XXX
    XXX
    XXX
    XXX

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LB5 │ LB4 │ LB3 │ LB2 │ LB1 │ LB0 │ RB0 │ RB1 │ RB2 │ RB3 │ RB4 │ RB5 │
    ___

    XXX
    XXX
    XXX
    XXX
    XXX
    ,
    XXX
    XXX
    XXX
    XXX
    XXX

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┴─────┼─────┼─────┼─────┼─────┼─────┤
// │ LF5 │ LF4 │ LF3 │ LF2 │ LF1 │           │ RF1 │ RF2 │ RF3 │ RF4 │ RF5 │
     ___   ___ , ___   ___   ___       ,       ___   ___   ___ , ___   ___,
// ├─────┼─────┼─────┼─────┴─────╯           ╰─────┴─────┼─────┼─────┼─────┤
// │ LH5 │ LH4 │ LH3 │                                   │ RH3 │ RH4 │ RH5 │
     ___   ___ , ___                   ,                   ___ , ___   ___,
// ├─────┼─────┼─────┤                                   ├─────┼─────┼─────┤
// │ LH2 │ LH1 │ LH0 │                                   │ RH0 │ RH1 │ RH2 │
     ___ , ___   ___                   ,                   ___   ___ , ___
// ╰─────┴─────┴─────╯                                   ╰─────┴─────┴─────╯
)

////////////////////////////////////////////////////////////////

#define ____KEYMAP_LAYER_NAV

MOERGO_LAYER(layer_nav,
// ╭─────┬─────┬─────┬─────┬─────╮           ╭─────┬─────┬─────┬─────┬─────╮
// │ LC5 │ LC4 │ LC3 │ LC2 │ LC1 │           │ RC1 │ RC2 │ RC3 │ RC4 │ RC5 │
     ___   ___   ___   ___   ___       ,       ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┼─────┼─────┬─────┼─────┼─────┼─────┼─────┼─────┤
// │ LN5 │ LN4 │ LN3 │ LN2 │ LN1 │ LN0 │ RN0 │ RN1 │ RN2 │ RN3 │ RN4 │ RN5 │
    KEYS_LAYER_BASE_LC
    ___
    ,
    ___
    ___
    &tri__app_switch__nav_layer
    ___
    ___
    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LT5 │ LT4 │ LT3 │ LT2 │ LT1 │ LT0 │ RT0 │ RT1 │ RT2 │ RT3 │ RT4 │ RT5 │
    ___

    XXX
    XXX
    XXX
    XXX
    XXX
    ,
    &kp KEY_CUT
    &kp DELETE
    &kp UP_ARROW
    &kp BACKSPACE
    &kp TAB

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LM5 │ LM4 │ LM3 │ LM2 │ LM1 │ LM0 │ RM0 │ RM1 │ RM2 │ RM3 │ RM4 │ RM5 │
    ___

    &kp LALT
    &kp LCTL
    XXX
    &kp LSFT
    XXX
    ,
    &kp KEY_COPY
    &kp LEFT_ARROW
    &kp DOWN_ARROW
    &kp RIGHT_ARROW
    &kp KEY_PASTE

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LB5 │ LB4 │ LB3 │ LB2 │ LB1 │ LB0 │ RB0 │ RB1 │ RB2 │ RB3 │ RB4 │ RB5 │
    ___

    &kp HOME
    &kp END
    &kp PAGE_UP
    &kp PAGE_DOWN
    XXX
    ,
    &kp PAGE_UP
    &kp HOME
    &kp K_CONTEXT_MENU
    &kp END
    &kp PAGE_DOWN

    ___
    ,
// ├─────┼─────┼─────┼─────┼─────┼─────┴─────┼─────┼─────┼─────┼─────┼─────┤
// │ LF5 │ LF4 │ LF3 │ LF2 │ LF1 │           │ RF1 │ RF2 │ RF3 │ RF4 │ RF5 │
     ___   ___ , ___   ___   ___       ,       ___   ___   ___ , ___   ___,
// ├─────┼─────┼─────┼─────┴─────╯           ╰─────┴─────┼─────┼─────┼─────┤
// │ LH5 │ LH4 │ LH3 │                                   │ RH3 │ RH4 │ RH5 │
     ___   ___ , ___                   ,                   ___ , ___   ___,
// ├─────┼─────┼─────┤                                   ├─────┼─────┼─────┤
// │ LH2 │ LH1 │ LH0 │                                   │ RH0 │ RH1 │ RH2 │
     ___ , ___   ___                   ,                   ___   ___ , ___
// ╰─────┴─────┴─────╯                                   ╰─────┴─────┴─────╯
)

////////////////////////////////////////////////////////////////

#define ____KEYMAP_LAYER_TEMPLATE

//// Glove80: full layout
// ╭─────┬─────┬─────┬─────┬─────╮           ╭─────┬─────┬─────┬─────┬─────╮
// │ LC5 │ LC4 │ LC3 │ LC2 │ LC1 │           │ RC1 │ RC2 │ RC3 │ RC4 │ RC5 │
// ├─────┼─────┼─────┼─────┼─────┼─────┬─────┼─────┼─────┼─────┼─────┼─────┤
// │ LN5 │ LN4 │ LN3 │ LN2 │ LN1 │ LN0 │ RN0 │ RN1 │ RN2 │ RN3 │ RN4 │ RN5 │
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LT5 │ LT4 │ LT3 │ LT2 │ LT1 │ LT0 │ RT0 │ RT1 │ RT2 │ RT3 │ RT4 │ RT5 │
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LM5 │ LM4 │ LM3 │ LM2 │ LM1 │ LM0 │ RM0 │ RM1 │ RM2 │ RM3 │ RM4 │ RM5 │
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LB5 │ LB4 │ LB3 │ LB2 │ LB1 │ LB0 │ RB0 │ RB1 │ RB2 │ RB3 │ RB4 │ RB5 │
// ├─────┼─────┼─────┼─────┼─────┼─────┴─────┼─────┼─────┼─────┼─────┼─────┤
// │ LF5 │ LF4 │ LF3 │ LF2 │ LF1 │           │ RF1 │ RF2 │ RF3 │ RF4 │ RF5 │
// ├─────┼─────┼─────┼─────┴─────╯           ╰─────┴─────┼─────┼─────┼─────┤
// │ LH5 │ LH4 │ LH3 │                                   │ RH3 │ RH4 │ RH5 │
// ├─────┼─────┼─────┤                                   ├─────┼─────┼─────┤
// │ LH2 │ LH1 │ LH0 │                                   │ RH0 │ RH1 │ RH2 │
// ╰─────┴─────┴─────╯                                   ╰─────┴─────┴─────╯
//// Go60: floor and thumb keys
// ╭───────────┬─────┬─────┬─────╮           ╭─────┬─────┬─────┬───────────╮
// │           │ LF3 │ LF2 │ LF1 │           │ RF1 │ RF2 │ RF3 │           │
// ├─────┬─────┼─────┼─────┴─────╯           ╰─────┴─────┼─────┼─────┬─────┤
// │ LH5 │ LH4 │ LH2 │                                   │ RH2 │ RH4 │ RH5 │
// ╰─────┴─────┴─────╯                                   ╰─────┴─────┴─────╯
//

MOERGO_LAYER(_layer_template,
// ╭─────┬─────┬─────┬─────┬─────╮           ╭─────┬─────┬─────┬─────┬─────╮
// │ LC5 │ LC4 │ LC3 │ LC2 │ LC1 │           │ RC1 │ RC2 │ RC3 │ RC4 │ RC5 │
     ___   ___   ___   ___   ___       ,       ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┼─────┼─────┬─────┼─────┼─────┼─────┼─────┼─────┤
// │ LN5 │ LN4 │ LN3 │ LN2 │ LN1 │ LN0 │ RN0 │ RN1 │ RN2 │ RN3 │ RN4 │ RN5 │
     ___   ___   ___   ___   ___   ___ , ___   ___   ___   ___   ___   ___,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LT5 │ LT4 │ LT3 │ LT2 │ LT1 │ LT0 │ RT0 │ RT1 │ RT2 │ RT3 │ RT4 │ RT5 │
     ___   XXX   XXX   XXX   XXX   XXX , XXX   XXX   XXX   XXX   XXX   ___,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LM5 │ LM4 │ LM3 │ LM2 │ LM1 │ LM0 │ RM0 │ RM1 │ RM2 │ RM3 │ RM4 │ RM5 │
     ___   XXX   XXX   XXX   XXX   XXX , XXX   XXX   XXX   XXX   XXX   ___,
// ├─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┼─────┤
// │ LB5 │ LB4 │ LB3 │ LB2 │ LB1 │ LB0 │ RB0 │ RB1 │ RB2 │ RB3 │ RB4 │ RB5 │
     ___   XXX   XXX   XXX   XXX   XXX , XXX   XXX   XXX   XXX   XXX   ___,
// ├─────┼─────┼─────┼─────┼─────┼─────┴─────┼─────┼─────┼─────┼─────┼─────┤
// │ LF5 │ LF4 │ LF3 │ LF2 │ LF1 │           │ RF1 │ RF2 │ RF3 │ RF4 │ RF5 │
     ___   ___ , ___   ___   ___       ,       ___   ___   ___ , ___   ___,
// ├─────┼─────┼─────┼─────┴─────╯           ╰─────┴─────┼─────┼─────┼─────┤
// │ LH5 │ LH4 │ LH3 │                                   │ RH3 │ RH4 │ RH5 │
     ___   ___ , ___                   ,                   ___ , ___   ___,
// ├─────┼─────┼─────┤                                   ├─────┼─────┼─────┤
// │ LH2 │ LH1 │ LH0 │                                   │ RH0 │ RH1 │ RH2 │
     ___ , ___   ___                   ,                   ___   ___ , ___
// ╰─────┴─────┴─────╯                                   ╰─────┴─────┴─────╯
)

////////////////////////////////////////////////////////////////
////////////////////////////////
////////////////
////////
////
//
